<div class="page-wrapper">
    <div class="page-header">
        <h3>{{ 'T.cabinetPages.seller.openTenders' | translate | async }}</h3>
    </div>
    <div class="page-body">

        <app-design-pagination
            [storeUid]="PAGINATION_STORE_UID"
            [selectFunction]="PAGINATION_SELECT_FUNCTION">
        </app-design-pagination>

        <app-seller-tenders-table [models]="models"></app-seller-tenders-table>

        <app-design-pagination
            [storeUid]="PAGINATION_STORE_UID"
            [selectFunction]="PAGINATION_SELECT_FUNCTION">
        </app-design-pagination>

    </div>
</div>
