<app-design-back></app-design-back>

<div class="page-wrapper">
    <div class="page-header">
        <h3>{{ 'T.newOffer.pageHeader' | translate | async }}</h3>
    </div>
    <div class="page-body">

        <div class="row">
            <div class="col-md-12 text-center">
                <p class="instruction">{{ 'T.tenders.forNumber' | translate | async }} №
                    <span>{{formGroup?.controls['tenderId']?.value || ''}}</span>
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 text-center">
                <p class="instruction">
                    <span>{{ 'T.actions.instruction' | translate | async }}</span>
                    <span> </span>
                    <span *ngIf="toChat">({{ 'T.newOffer.sendAsk' | translate | async }})</span>
                    <span *ngIf="!toChat">{{ 'T.newOffer.publish' | translate | async }}</span>
                </p>
            </div>
        </div>

        <div [hidden]="serviceLoading">
            <form [formGroup]="formGroup" novalidate>
                <div class="row">

                    <div class="col-md-7">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-3 text-right">{{ 'T.goffers.companyName' | translate | async }}:&nbsp;*</div>
                                <div class="col-md-9">
                                    <input type="text" class="form-control" formControlName="contactCompanyName">
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-3 text-right">{{ 'T.goffers.question' | translate | async }}:</div>
                                <div class="col-md-9">
                                    <textarea class="form-control" formControlName="question"></textarea>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-3 text-right">{{ 'T.goffers.contactName' | translate | async }}:&nbsp;*</div>
                                <div class="col-md-9">
                                    <input type="text" class="form-control" formControlName="contactName">
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-3 text-right">{{ 'T.goffers.contactPhone' | translate | async }}:&nbsp;*</div>
                                <div class="col-md-9">
                                    <input type="text" class="form-control" formControlName="contactPhone">
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-3 text-right">{{ 'T.goffers.contactPosition' | translate | async }}:&nbsp;*</div>
                                <div class="col-md-9">
                                    <input type="text" class="form-control" formControlName="contactPosition">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-5">
                        <div class="row text-center">
                            <div class="col-md-12 padding-bottom">{{ 'T.goffers.additional' | translate | async }}:
                            </div>
                        </div>
                        <div class="row text-center">
                            <div class="col-md-12">
                                <textarea class="form-control" formControlName="description"></textarea>
                            </div>
                        </div>
                        <div class="row text-center">
                            <div class="col-md-12 padding-top padding-bottom">
                                {{ 'T.files.documents' | translate | async }}
                                ({{'T.files.limit' | translate | async }} {{maxFileSizeMB}}MB, {{'T.files.maxFiles' | translate | async }} {{maxFilesLength}}):
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <app-design-file-uploader
                                    #fileUploader
                                    [loadedFiles]="initFiles"
                                    [maxFileSizeMB]="maxFileSizeMB"
                                    [maxFilesLength]="maxFilesLength"
                                    (updateFiles)="onFilesUpdate($event)"
                                    (updateLoadStatus)="onUpdateLoadStatus($event)">
                                </app-design-file-uploader>
                            </div>
                        </div>
                    </div>

                </div>
            </form>

            <div class="row">
                <div class="col-md-7">
                    <div class="row">
                        <div class="col-md-9 offset-md-3">
                            <button type="button" class="btn btn-success"
                                    [disabled]="!formGroup.valid || filesLoading"
                                    (click)="save()">
                                {{ 'T.buttons.save' | translate | async }}
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-md-5 text-right" *ngIf="toChat">
                    <button type="button" class="btn btn-success"
                            [disabled]="!offerId || !formGroup.valid || filesLoading"
                            (click)="publish()">
                        {{ 'T.newOffer.saveAndSendAsk' | translate | async }}
                    </button>
                </div>
                <div class="col-md-5 text-right" *ngIf="!toChat">
                    <button type="button" class="btn btn-warning"
                            [disabled]="!offerId || !formGroup.valid || filesLoading"
                            (click)="publish(false)">
                        {{ 'T.newOffer.saveAndPublish' | translate | async }}
                    </button>
                </div>
            </div>
        </div>

        <div [hidden]="!serviceLoading">
            <app-design-preloader></app-design-preloader>
        </div>

    </div>
</div>
