<app-design-back></app-design-back>

<div class="page-wrapper">
    <div class="page-header">
        <h3>
            {{ 'T.chat.pageHeader' | translate | async }}
        </h3>
    </div>
    <div class="page-body">

        <ng-container *ngIf="!(serviceLoading$ | async) && (tender$ | async); else preloader">

            <app-chat-tender-view
                [tender]="tender$ | async"
                [userIsSeller]="userIsSeller">
            </app-chat-tender-view>

            <app-chat-messages
                [messages]="messages$ | async">
            </app-chat-messages>

            <div class="row">
                <div class="col-md-6">
                    <app-chat-replay></app-chat-replay>
                </div>
                <div class="col-md-6">
                    <div class="row text-center p-2">
                        <div class="col-md-12">

                            <p class="font-weight-bold pb-2" *ngIf="userIsSeller">{{ 'T.tenders.chatFiles' | translate | async}}</p>
                            <p class="font-weight-bold pb-2" *ngIf="!userIsSeller">{{ 'T.tenders.sellerFiles' | translate | async }}</p>

                            <ol *ngIf="(otherFiles$ | async)?.length; else emptyList">
                                <li *ngFor="let file of (otherFiles$ | async)">
                                    <app-design-file-link [inFile]="file"></app-design-file-link>
                                </li>
                            </ol>
                            <ng-template #emptyList>
                                {{ 'T.emptyList' | translate | async }}
                            </ng-template>
                        </div>
                    </div>
                    <app-chat-upload-files [files]="myFiles$ | async" [chatId]="(tender$ | async).id"></app-chat-upload-files>
                </div>
            </div>

        </ng-container>

    </div>
</div>

<ng-template #preloader>
    <app-design-preloader></app-design-preloader>
</ng-template>
