<div class="form-group form-group--password-icon">
    <label>{{label}}*</label>
    <ng-container [formGroup]="formGroupInput">
        <input class="form-control"
               [class.form-control--error]="(showStrength && (strengthPassword || 0) < VALID_STRENGTH_PASSWORD || control?.errors) && showErrors"
               id="gpc-password-{{tabIndex}}"
               name="gpc-password-{{tabIndex}}"
               [type]="passwordType"
               [tabindex]="tabIndex"
               maxlength="255"
               [autocomplete]="(autocomplete === 'new') ? (passwordType === 'password' ? 'new-password-' + tabIndex : 'off') : 'off'"
               required
               [formControlName]="formControlNameInput">

        <span class="eye-icon" (click)="toggleViewPassword()">
            <fa name="eye" *ngIf="passwordType === 'password'"></fa>
            <fa name="eye-slash" *ngIf="passwordType === 'text'"></fa>
        </span>

        <password-strength-meter
            *ngIf="showStrength && control"
            [password]="control.value"
            [minPasswordLength]="8"
            (strengthChange)="onStrengthChange($event)">
        </password-strength-meter>

        <small>
            {{ 'T.form.help.password' | translate | async }}
        </small>

        <ng-container *ngIf="showErrors">

            <div *ngIf="control?.errors" class="form-group__error">
                <div *ngIf="control?.errors['required']">
                    {{ 'T.form.errors.required' | translate | async }}
                </div>
            </div>

            <div
                *ngIf="showStrength && (strengthPassword || 0) < VALID_STRENGTH_PASSWORD"
                class="form-group__error">
                <div>
                    {{ 'T.form.help.lessPassword' | translate | async }}
                </div>
            </div>
        </ng-container>
    </ng-container>
</div>
