label {
    padding: 5px 0;
}

.form-group__error {
    margin: 5px 0;
    text-align: right;
    color: red;
}

.form-group {
    position: relative;

    password-strength-meter::ng-deep {
        .strength-meter:after,
        .strength-meter:before {
            width: 110px;
        }

        .strength-meter:before {
            left: 105px;
        }

        .strength-meter:after {
            right: 105px;
        }
    }

    small {
        font-size: 80%;
        opacity: 0.6;
    }

    &--password-icon {
        position: relative;

        .eye-icon {
            position: absolute;
            top: 5px;
            right: 0;
            cursor: pointer;
        }
    }
}