label {
    padding: 5px 0;
}

.captcha__img {
    display: inline-block;
    vertical-align: middle;
}

.captcha__reload {
    display: inline-block;
    margin-left: 10px;
    vertical-align: middle;
    cursor: pointer;
}

.form-group {
    &__error {
        margin: 5px 0;
        text-align: right;
        color: red;
    }

    &--password-icon {
        position: relative;

        .eye-icon {
            position: absolute;
            top: 5px;
            right: 0;
            cursor: pointer;
        }
    }
}
