<div class="alert alert-danger" role="alert" *ngIf="authErrorMessage$ | async">
    {{ authErrorMessage$ | async }}
</div>

<div class="alert alert-danger" role="alert" *ngIf="captchaErrorMessage$ | async">
    {{ captchaErrorMessage$ | async }}
</div>

<div class="alert alert-danger" role="alert" *ngIf="userErrorMessage$ | async">
    {{ userErrorMessage$ | async }}
</div>

<form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label>{{ 'T.login.login' | translate | async }} (email)*</label>
        <input class="form-control"
            [class.form-control--error]="emailControl?.errors && 
                (emailControl?.dirty || emailControl?.touched || submitted)"
            type="email" 
            id="gpc-auth-email"
            name="gpc-auth-email"
            tabindex="1"
            maxlength="255"
            autocomplete="on"
            required
            formControlName="email">
        <div *ngIf="emailControl?.errors && 
            (emailControl?.dirty || emailControl?.touched || submitted)" class="form-group__error">
            <div *ngIf="emailControl?.errors.required">
                {{ 'T.form.errors.required' | translate | async }}
            </div>
            <div *ngIf="emailControl?.errors.email">
                {{ 'T.form.errors.email' | translate | async }}
            </div>
        </div>
    </div>
    <div class="form-group form-group--password-icon">
        <label>{{ 'T.login.password' | translate | async }}*</label>
        <input class="form-control"
            [class.form-control--error]="passwordControl?.errors && 
                (passwordControl?.dirty || passwordControl?.touched || submitted)"
           [type]="passwordType"
            id="gpc-auth-password"
            name="gpc-auth-password"
            tabindex="2"
            maxlength="255"
            autocomplete="on"
            required
            formControlName="password">

        <span class="eye-icon" (click)="toggleViewPassword()">
            <fa name="eye" *ngIf="passwordType === 'password'"></fa>
            <fa name="eye-slash" *ngIf="passwordType === 'text'"></fa>
        </span>

        <div *ngIf="passwordControl?.errors && 
            (passwordControl?.dirty || passwordControl?.touched || submitted)" class="form-group__error">
            <div *ngIf="passwordControl?.errors.required">
                {{ 'T.form.errors.required' | translate | async }}
            </div>
        </div>
    </div>
    <div class="form-group">
        <label>Code*</label>
        <div class="row">
            <div class="col-md-4 captcha">
                <ng-container *ngIf="captcha">
                    <img class="captcha__img" [src]="captchaImageString" alt="">
                    <div class="captcha__reload" (click)="reloadCaptcha()">
                        <i class="fas fa-redo"></i>
                    </div>
                </ng-container>
            </div>
            <div class="col-md-8">
                <input class="form-control"
                    [class.form-control--error]="captchaControl?.errors && 
                        (captchaControl?.dirty || captchaControl?.touched || submitted)"
                    type="text" 
                    id="gpc-auth-code"
                    name="gpc-auth-code"
                    tabindex="3"
                    maxlength="255"
                    autocomplete="off"
                    required
                    formControlName="captcha_value">
            </div>
        </div>
        <div *ngIf="captchaControl?.errors && 
            (captchaControl?.dirty || captchaControl?.touched || submitted)" class="form-group__error">
            <div *ngIf="captchaControl?.errors.required">
                {{ 'T.form.errors.required' | translate | async }}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <button type="button" class="btn btn-link" (click)="toggleView.emit()">
                {{ 'T.login.forgot' | translate | async }}
            </button>
        </div>
        <div class="col-md-6 text-right">
            <button tabindex="4" type="submit" class="btn btn-success">
                {{ 'T.buttons.signin' | translate | async }}
            </button>
        </div>
    </div>
</form>
