<div [hidden]="(serviceLoading$ | async)">

    <form [formGroup]="formGroup" novalidate>
        <div class="row">

            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-12 font-weight-bold p-2">{{ 'T.actions.reply' | translate | async }}:</div>
                </div>
                <div class="row">
                    <div class="col-md-12 pb-2">
                        <textarea class="form-control" formControlName="message"></textarea>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <button
                    type="button" class="btn btn-success"
                    [disabled]="!formGroup.valid"
                    (click)="send()">
                    {{ 'T.buttons.send' | translate | async }}
                </button>
            </div>
        </div>

    </form>

</div>

<div [hidden]="!(serviceLoading$ | async)" class="p-2">
    <app-design-preloader></app-design-preloader>
</div>
