<div class="page-wrapper">
    <div class="page-header">
        <h3>{{ 'T.login.pageHeader' | translate | async }}</h3>
    </div>
    <div class="page-body">
        <div class="row" style="display: block">
            <div class="col-md-6 offset-md-3 form-container" [hidden]="loading$ | async">
                <ng-container [ngSwitch]="activeView">
                    <ng-container *ngSwitchCase="'recovery'">
                        <app-auth-recovery
                            [recoveryData]="recoveryData"
                            (toggleView)="showLogin()">
                        </app-auth-recovery>
                    </ng-container>

                    <ng-container *ngSwitchDefault>
                        <app-auth-login
                            [recoveryData]="recoveryData"
                            (formUpdated)="onLoginFormUpdate($event)"
                            (toggleView)="showRecovery()">
                        </app-auth-login>
                    </ng-container>
                </ng-container>
            </div>
            <app-design-preloader *ngIf="loading$ | async"></app-design-preloader>
        </div>
    </div>
</div>
