<ng-container *ngIf="models; else preloader">
    <table class="table table-striped" *ngIf="models.length; else emptyList">
        <thead>
        <tr>
            <th scope="col">№</th>
            <th scope="col">{{ 'T.tenders.name' | translate | async }}</th>
            <th scope="col">{{ 'T.tenders.status' | translate | async }}</th>
            <th scope="col">{{ 'T.tenders.startDate' | translate | async }}</th>
            <th scope="col">{{ 'T.tenders.endDate' | translate | async }}</th>
            <th scope="col">{{ 'T.tenders.groupSellers' | translate | async }}</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let row of models">
            <td>{{row.id}}</td>
            <td>
                <a [routerLink]="['/seller', 'tender', row.id]">
                    {{ row.name | multilang | async }}
                </a>
            </td>
            <td>
                <ng-container *ngIf="row.proposalState; else noOffer">
                    <strong class="c-green">{{ 'T.goffers.proposalStateTrue' | translate | async }}</strong>
                    {{ 'T.goffers.proposalStateTrueText' | translate | async }}
                </ng-container>
                <ng-template #noOffer>
                    <strong class="c-red">{{ 'T.goffers.proposalStateFalse' | translate | async }}</strong>
                    {{ 'T.goffers.proposalStateFalseText' | translate | async }}
                </ng-template>
            </td>
            <td class="no-break">{{row.startDate | date:DATE_FORMAT}}</td>
            <td class="no-break">{{row.endDate | date:DATE_FORMAT}}</td>
            <td>{{row.sellerGroupName}}</td>
            <td>
                <a
                    *ngIf="!row.canOpenChat"
                    [routerLink]="['/seller', 'tender', row.id]">

                    {{ 'T.tenders.viewdocs' | translate | async }}
                </a>
                <a
                    *ngIf="row.canOpenChat"
                    [routerLink]="['/seller', 'chat', row.id]">
                    {{ 'T.curatorPage.chatLink' | translate | async }}
                </a>
            </td>
        </tr>
        </tbody>
    </table>

    <ng-template #emptyList>
        <div class="row text-center">
            <div class="col-md-12">
                {{ 'T.emptyList' | translate | async }}
            </div>
        </div>
    </ng-template>
</ng-container>

<ng-template #preloader>
    <app-design-preloader></app-design-preloader>
</ng-template>
