table {
    margin-bottom: 20px;
}

h3 {
    font-weight: bold;
    margin-bottom: 20px;
}

p {
    margin-bottom: 20px;
}

ol {
    margin: 0 0 20px 20px;

    ::ng-deep li {
        padding: 5px 0;
    }
}
