<ng-container *ngIf="tender; else preloader">

    <div class="row">
        <div class="col-md-12 text-center">
            <p class="instruction">{{ 'T.tenders.forNumber' | translate | async }} № <span>{{tender?.id}}</span></p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">{{ 'T.tenders.name' | translate | async }}</th>
                        <th scope="col">{{ 'T.tenders.period' | translate | async }}</th>
                        <th scope="col">{{ 'T.tenders.groupSellers' | translate | async }}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{tender.name | multilang | async}}</td>
                        <td class="no-break">
                            {{tender.startDate | date:DATE_FORMAT}}<br>
                            {{tender.endDate | date:DATE_FORMAT}}
                        </td>
                        <td>{{sellerGroupName}}</td>
                    </tr>
                </tbody>
            </table>

            <h3>{{ 'T.tenders.additional' | translate | async }}:</h3>

            <p>
                {{tender.description | multilang | async}}
            </p>

            <ol *ngIf="tender.files?.length">
                <li *ngFor="let file of tender.files">
                    <app-design-file-link [inFile]="file"></app-design-file-link>
                </li>
            </ol>

        </div>
    </div>

    <div class="container print">
        <div class="row">
            <div class="col-md-12 text-center">
                <button type="button" class="btn btn-success"
                    [disabled]="lockPrintButton"
                    (click)="onPrint()">
                    {{ 'T.buttons.print' | translate | async }}
                </button>
            </div>
        </div>
    </div>

</ng-container>

<ng-template #preloader>
    <app-design-preloader></app-design-preloader>
</ng-template>
