<app-design-back></app-design-back>

<div class="page-wrapper">
    <div class="page-header">
        <h3>{{ 'T.tender.pageHeader' | translate | async }}</h3>
    </div>
    <div class="page-body">
        
        <app-creator-tender-view
            [tender]="tender"
            [sellerGroupName]="sellerGroupName"
            [crudUrl]="crudUrl(tender?.id)">
        </app-creator-tender-view>

    </div>
</div>
