<div class="page-wrapper">
    <div class="page-header">
        <h3></h3>
    </div>
    <div class="page-body">
        <div class="row">
            <div class="col-md-12 text-center">
                <p class="instruction"><span>info@gpcgroup.co</span></p>
            </div>
        </div>
    </div>
</div>
