<ng-container *ngIf="file">

    <ng-container *ngIf="!fileUrl || lockedFile; else downloadFile">
        {{ file.name }}
    </ng-container>

    <ng-template #downloadFile>
        <a [href]="fileUrl" download (click)="updateFileUrl()" target="_blank">
            {{ file.name }}
        </a>
    </ng-template>

</ng-container>
