<ul class="nav nav-pills">
    <li class="nav-item">
        <a class="nav-link" routerLink="/creator/tender-edit/new" routerLinkActive="active">
            {{ 'T.openTenders.createTender' | translate | async }}
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="/creator/tenders" routerLinkActive="active"
            [queryParams]="queryParams">
            {{ 'T.openTenders.changeTenders' | translate | async }}
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="/creator/tenders" [class.active]="statusIsPublish$ | async">
            {{ 'T.openTenders.pageHeader' | translate | async }}
        </a>
    </li>
</ul>

<router-outlet></router-outlet>
