<ul class="nav nav-pills" *ngIf="queryStatus !== QUERY_STATUS.DRAFT">
    <li class="nav-item">
        <a class="nav-link" routerLink="/creator/tenders" [queryParams]="queryParamsPublish" routerLinkActive="active">
            {{ 'T.openTenders.publishedTenders' | translate | async }}
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="/creator/tenders" [class.active]="!queryStatus || queryStatus === QUERY_STATUS.ACTIVE">
            {{ 'T.openTenders.activeTenders' | translate | async }}
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="/creator/tenders" [queryParams]="queryParamsFinish" routerLinkActive="active">
            {{ 'T.openTenders.finishedTenders' | translate | async }}
        </a>
    </li>
</ul>

<div class="page-wrapper">
    <div class="page-header">
        <h3>
            <ng-container *ngIf="queryStatus === QUERY_STATUS.DRAFT">{{ 'T.openTenders.changeTenders' | translate | async }}</ng-container>
            <ng-container *ngIf="queryStatus !== QUERY_STATUS.DRAFT">{{ 'T.openTenders.pageHeader' | translate | async }} - </ng-container>
            <ng-container *ngIf="queryStatus === QUERY_STATUS.PUBLISH">{{ 'T.openTenders.publishedTenders' | translate | async }}</ng-container>
            <ng-container *ngIf="!queryStatus || queryStatus === QUERY_STATUS.ACTIVE">{{ 'T.openTenders.activeTenders' | translate | async }}</ng-container>
            <ng-container *ngIf="queryStatus === QUERY_STATUS.FINISH">{{ 'T.openTenders.finishedTenders' | translate | async }}</ng-container>
        </h3>
    </div>
    <div class="page-body">

        <app-design-pagination
            [storeUid]="PAGINATION_STORE_UID"
            [selectFunction]="PAGINATION_SELECT_FUNCTION">
        </app-design-pagination>

        <app-creator-tenders-table
            [models]="models"
            [queryStatus]="queryStatus">
        </app-creator-tenders-table>

        <app-design-pagination
            [storeUid]="PAGINATION_STORE_UID"
            [selectFunction]="PAGINATION_SELECT_FUNCTION">
        </app-design-pagination>

    </div>
</div>
