<header id="header" class="no-print">
    <nav>
        <div class="logo">
            <a href="/"><img src="/assets/img/logo.png" alt="Logo"></a>
        </div>
        <ul id="lang">
            <li><a href="javascript:;" (click)="changeLanguage('az')"><img src="/assets/img/az.png" alt="AZ"></a></li>
            <li><a href="javascript:;" (click)="changeLanguage('en')"><img src="/assets/img/en.png" alt="EN"></a></li>
            <li><a href="javascript:;" (click)="changeLanguage('ru')"><img src="/assets/img/ru.png" alt="RU"></a></li>
        </ul>
        <div class="data-user" *ngIf="user">
            <div class="data-user__login">
                <span>{{user.data?.email}}</span>
                <span><fa name="caret-down"></fa></span>
            </div>
            <div class="data-user__dropdown">
                <ul>
                    <li *ngIf="(user.role || []).indexOf(USER_ROLES.AUDITOR) < 0"><a
                        routerLink="/">{{'T.header.rootPage'| translate | async}}</a></li>
                    <li *ngIf="(user.role || []).indexOf(USER_ROLES.AUDITOR) < 0"><a
                        routerLink="/settings">{{'T.header.changePassword'| translate | async}}</a></li>
                    <li><a href="javascript:;" (click)="logout()">{{'T.header.signout'| translate | async}}</a></li>
                </ul>
            </div>
        </div>
        <a *ngIf="!isAuthenticated" class="sign btn btn-success btn-sm"
           routerLink="/login">{{'T.header.signin'| translate | async}}</a>
    </nav>
</header>
