nav {
    position: relative;

    a.sign {
        position: absolute;
        top: 5px;
        right: -10px;
    }

    .data-user {
        position: absolute;
        top: 8px;
        right: -10px;
        text-align: right;
    }

    fa {
        margin-left: 5px;
        cursor: pointer;
    }
}

.data-user__login {
    padding: 5px 0;
}

.data-user__dropdown {
    position: absolute;
    display: none;
    width: 200px;
    right: 0;
    top: 100%;
    background-color: #fff;
    box-shadow: 0 3px 4px rgba(0,0,0,.5);

    ul {
        list-style-type: none;
        margin: 0;
        padding: 5px 0;
    }

    li {
        margin: 0;
        padding: 0;
    }

    a {
        display: block;
        padding: 10px 15px;
        color: inherit;

        &:hover {
            text-decoration: none;
            background-color: rgba(0,0,0,0.1);
        }
    }

    .data-user:hover & {
        display: block;
    }
}