<ng-container *ngIf="tender; else preloader">

    <div class="row">
        <div class="col-md-12 text-center">
            <p class="instruction">{{ 'T.tenders.forNumber' | translate | async }} № <span>{{tender.id}}</span></p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">

            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">{{ 'T.tenders.name' | translate | async }}</th>
                    <th>{{ 'T.tenders.operatingCompany' | translate | async }}</th>
                    <th *ngIf="!userIsSeller" scope="col">{{ 'T.tenders.periodType' | translate | async }}</th>
                    <th scope="col">{{ 'T.tenders.period' | translate | async }}</th>
                    <th scope="col">{{ 'T.tenders.groupSellers' | translate | async }}</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        <a
                            *ngIf="userIsSeller; else curatorLink"
                            [routerLink]="['/seller', 'tender', tender.id]">
                            {{ tender.name | multilang | async }}
                        </a>
                        <ng-template #curatorLink>
                            <a [routerLink]="['/curator', 'tender', tender.id]">
                                {{ tender.name | multilang | async }}
                            </a>
                        </ng-template>
                    </td>
                    <td>
                        {{tender.operatingCompany}}
                    </td>
                    <td *ngIf="!userIsSeller">
                        <app-design-tender-period [tender]="tender"></app-design-tender-period>
                    </td>
                    <td class="no-break">
                        {{tender.startDate | date:DATE_FORMAT}}<br>
                        {{tender.endDate | date:DATE_FORMAT}}
                    </td>
                    <td>{{tender.sellerGroupName}}</td>
                </tr>
                </tbody>
            </table>

        </div>
    </div>

</ng-container>

<ng-template #preloader>
    <app-design-preloader></app-design-preloader>
</ng-template>
