<app-design-multilang-switcher
    [defaultError]="defaultHasErrors() && defaultHasTouched()"
    [currentLang]="currentLang"
    (switchLang)="onSwitchLang($event)">
</app-design-multilang-switcher>

<div [formGroup]="formGroupInput">
    <div *ngFor="let lang of LANGS" [hidden]="lang !== currentLang">
        <ng-container *ngIf="type === 'input'">
            <input type="text" [formControlName]="lang" class="form-control" [class.has-errors]="defaultHasErrors()" [class.has-touched]="defaultHasTouched()">
        </ng-container>
        <ng-container *ngIf="type === 'textarea'">
            <textarea [formControlName]="lang" class="form-control" [class.has-errors]="defaultHasErrors()" [class.has-touched]="defaultHasTouched()"></textarea>
        </ng-container>
    </div>
</div>
