<ng-container *ngIf="models; else preloader">

    <div class="container print">
        <div class="row">
            <div class="col-md-12 text-center">

                <ng-container *ngIf="queryStatus === QUERY_STATUS.DRAFT; else printButton">
                    <button type="button" class="btn btn-danger"
                            [disabled]="lockButtons || !selectedItems?.length"
                            (click)="onDelete()">
                        {{ 'T.buttons.delete' | translate | async }}
                    </button>
                </ng-container>

                <ng-template #printButton>
                    <button type="button" class="btn btn-success"
                            [disabled]="lockButtons || !selectedItems?.length"
                            (click)="onPrint()">
                        {{ 'T.buttons.print' | translate | async }}
                    </button>
                </ng-template>

            </div>
        </div>
    </div>

    <table class="table table-striped" *ngIf="models.length; else emptyList">
        <thead>
        <tr>
            <th>
                <input
                    *ngIf="models.length"
                    [disabled]="lockButtons"
                    type="checkbox"
                    [checked]="selectedAll"
                    (change)="toggleAllCheckboxes()">
            </th>
            <th scope="col">{{ 'T.tenders.number' | translate | async }}</th>
            <th scope="col">{{ 'T.tenders.name' | translate | async }}</th>
            <th scope="col">{{ 'T.tenders.operatingCompany' | translate | async }}</th>
            <th scope="col">{{ 'T.tenders.curator' | translate | async }}</th>
            <th scope="col">{{ 'T.tenders.period' | translate | async }}</th>
            <th scope="col">{{ 'T.tenders.groupSellers' | translate | async }}</th>
        </tr>
        </thead>
        <tbody>
        <tr formArrayName="options" *ngFor="let row of models; let i = index">
            <td>
                <input
                    type="checkbox"
                    [disabled]="lockButtons"
                    [checked]="selectedItems.indexOf(row.id) > -1"
                    (change)="toggleCheckbox(row.id)">
            </td>
            <td>{{row.id}}</td>
            <td>
                <ng-container *ngIf="queryStatus !== QUERY_STATUS.DRAFT; else editLink">
                    <a [routerLink]="['/creator', 'tender', row.id]">
                        {{ row.name | multilang | async }}
                    </a>
                </ng-container>
                <ng-template #editLink>
                    <a [routerLink]="['/creator', 'tender-edit', row.id]">
                        {{ row.name | multilang | async }}
                    </a>
                </ng-template>
            </td>
            <td>{{row.operatingCompany}}</td>
            <td>{{row.curator}}</td>
            <td class="no-break">
                {{row.startDate | date:DATE_FORMAT}}<br>
                {{row.endDate | date:DATE_FORMAT}}
            </td>
            <td>{{row.sellerGroupName}}</td>
        </tr>
        </tbody>
    </table>

    <ng-template #emptyList>
        <div class="row">
            <div class="col-md-12 text-center">
                {{ 'T.emptyList' | translate | async }}
            </div>
        </div>
    </ng-template>

</ng-container>

<ng-template #preloader>
    <app-design-preloader></app-design-preloader>
</ng-template>
