<app-design-back></app-design-back>

<div class="page-wrapper">
    <div class="page-header">
        <h3>{{ 'T.tender.pageHeader' | translate | async }}</h3>
    </div>
    <div class="page-body">

        <ng-container *ngIf="tender && offer; else preloader">

            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <table class="table table-striped">
                            <tr>
                                <th>{{ 'T.goffers.companyName' | translate | async }}</th>
                                <th>{{ 'T.goffers.date' | translate | async }}</th>
                                <th>{{ 'T.goffers.contactName' | translate | async }}</th>
                            </tr>
                            <tr>
                                <td>{{offer.contactCompanyName}}</td>
                                <td>
                                    <span class="no-break">{{offer | offerDate | date:DATE_FORMAT}}</span>
                                </td>
                                <td>
                                    {{offer.contactName}}<br>
                                    {{offer.contactPhone}}<br>
                                    {{offer.contactPosition}}
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                            {{ 'T.goffers.additional' | translate | async }}:
                    </div>
                    <div class="col-md-9">
                        <textarea readonly>{{offer.description}}</textarea>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <h1 style="margin-bottom: 10px;">
                            {{ 'T.offers.files' | translate | async }}
                        </h1>
                        <ol class="file-group" *ngIf="offer.files?.length; else noOfferFiles">
                            <li class="file-item" *ngFor="let file of offer.files">
                                <app-design-file-link
                                    [inFile]="file">
                                </app-design-file-link>
                            </li>
                        </ol>
                        <ng-template #noOfferFiles>
                            <p class="offer-component pb-4">{{ 'T.emptyList' | translate | async }}</p>
                        </ng-template>
                    </div>
                    <div class="col-md-9">
                        <div class="bordered chat-container">
                            <ng-container *ngIf="offer.messages?.length; else noMessages">
                                <p *ngFor="let message of offer.messages" class="chat-message">
                                    <span class="seller-message" *ngIf="message.user_role === USER_ROLES.SELLER">
                                        {{ 'T.chat.seller' | translate | async }} ({{message.created | date:DATE_FORMAT_MESSAGE}}) :
                                    </span>
                                    <span class="curator-message" *ngIf="message.user_role === USER_ROLES.CURATOR">
                                        {{ 'T.chat.curator' | translate | async }} ({{message.created | date:DATE_FORMAT_MESSAGE}}) :
                                    </span>
                                    <span class="curator-message" *ngIf="message.user_role === USER_ROLES.CURATOR_BOSS">
                                        {{ 'T.chat.header' | translate | async }} ({{message.created | date:DATE_FORMAT_MESSAGE}}) :
                                    </span>
                                    <span class="curator-message" *ngIf="message.user_role === USER_ROLES.BOSS">
                                        {{ 'T.chat.boss' | translate | async }} ({{message.created | date:DATE_FORMAT_MESSAGE}}) :
                                    </span>
                                    <span>{{message.message}}</span>
                                </p>
                                <p class="info-message">
                                    <span>{{ 'T.chat.curator' | translate | async }}: {{tender.curator}}</span>
                                </p>
                            </ng-container>
                            <ng-template #noMessages>
                                {{ 'T.noMessages' | translate | async }}
                            </ng-template>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1 style="margin-bottom: 10px;">
                            {{ 'T.tenders.chatFiles' | translate | async }}
                        </h1>
                        <table class="table table-striped" *ngIf="curatorFiles?.length; else noChatFiles">
                            <tr>
                                <th>Имя файла</th>
                                <th>Дата загрузки</th>
                                <th>Дата удаления</th>
                                <th>Статус просмотра</th>
                            </tr>
                            <tr *ngFor="let file of curatorFiles">
                                <td>
                                    <app-design-file-link
                                        [inFile]="file">
                                    </app-design-file-link>
                                </td>
                                <td>{{file.createTime | date:DATE_FORMAT_MESSAGE}}</td>
                                <td>{{file.deleteTime ?  (file.deleteTime | date:DATE_FORMAT_MESSAGE) : ''}}</td>
                                <td>
                                    <ng-container *ngFor="let role of file.rolesDownload" [ngSwitch]="role">
                                        <ng-container *ngSwitchCase="USER_ROLES.CURATOR">
                                            просмотрено куратором<br>
                                        </ng-container>
                                        <ng-container *ngSwitchCase="USER_ROLES.CURATOR_BOSS">
                                            просмотрено начальником куратора<br>
                                        </ng-container>
                                        <ng-container *ngSwitchCase="USER_ROLES.BOSS">
                                            просмотрено со стороны компании<br>
                                        </ng-container>
                                        <ng-container *ngSwitchCase="USER_ROLES.SELLER">
                                            просмотрено продавцом<br>
                                        </ng-container>
                                    </ng-container>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1 style="margin-bottom: 10px;">
                            {{ 'T.tenders.sellerFiles' | translate | async }}
                        </h1>
                        <table class="table table-striped" *ngIf="sellerFiles?.length; else noChatFiles">
                            <tr>
                                <th>Имя файла</th>
                                <th>Дата загрузки</th>
                                <th>Дата удаления</th>
                                <th>Статус просмотра</th>
                            </tr>
                            <tr *ngFor="let file of sellerFiles">
                                <td>
                                    <app-design-file-link
                                        [inFile]="file">
                                    </app-design-file-link>
                                </td>
                                <td>{{file.createTime}}</td>
                                <td>{{file.deleteTime || ''}}</td>
                                <td>
                                    <ng-container *ngFor="let role of file.rolesDownload" [ngSwitch]="role">
                                        <ng-container *ngSwitchCase="USER_ROLES.CURATOR">
                                            просмотрено куратором<br>
                                        </ng-container>
                                        <ng-container *ngSwitchCase="USER_ROLES.CURATOR_BOSS">
                                            просмотрено начальником куратора<br>
                                        </ng-container>
                                        <ng-container *ngSwitchCase="USER_ROLES.BOSS">
                                            просмотрено со стороны компании<br>
                                        </ng-container>
                                        <ng-container *ngSwitchCase="USER_ROLES.SELLER">
                                            просмотрено продавцом<br>
                                        </ng-container>
                                    </ng-container>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>

            <ng-template #noChatFiles>
                <div class="row text-center pb-5">
                    <div class="col-md-12">
                        {{ 'T.emptyList' | translate | async }}
                    </div>
                </div>
            </ng-template>

        </ng-container>

    </div>
</div>

<ng-template #preloader>
    <app-design-preloader></app-design-preloader>
</ng-template>
