.container {
    margin-bottom: 40px;
}

ol {
    margin: 0 0 20px 20px;
}

textarea {
    width: 100%;
    height: 146px;
    padding: 14px 16px;
    margin-bottom: 12px;
}

.bordered {
    border: solid 1px black;
}

.chat-container {
    padding-top: 5px;
    padding-bottom: 5px;
}

.chat-message {
    margin: 10px;
    line-height: 16pt;
}

.seller-message {
    color: red;
}

.curator-message {
    color: blue;
}

.info-message {
    margin: 10px;
}