<ng-template #successMessage>
    <div class="alert alert-success" role="alert">
        {{ 'T.recovery.successMessageStart' | translate | async }}
        {{ formGroup.controls['email'].value }}
        {{ 'T.recovery.successMessageEnd' | translate | async }}.
    </div>
    <button type="button" class="btn btn-link" (click)="toggleView.emit()">
        {{ 'T.buttons.signin' | translate | async }}
    </button>
</ng-template>

<div class="alert alert-danger" role="alert" *ngIf="errorMessage">
    {{ errorMessage }}
</div>

<form [formGroup]="formGroup" (ngSubmit)="onSubmit()" *ngIf="!showSuccessMessage; else successMessage">
    <div class="form-group">
        <label>{{ 'T.login.login' | translate | async }} (email)*</label>
        <input class="form-control"
            [class.form-control--error]="emailControl?.errors &&
                (emailControl?.dirty || emailControl?.touched || submitted)"
            type="email"
            id="gpc-auth-email"
            name="gpc-auth-email"
            tabindex="1"
            maxlength="255"
            autocomplete="on"
            required
            formControlName="email">
        <div *ngIf="emailControl?.errors &&
            (emailControl?.dirty || emailControl?.touched || submitted)" class="form-group__error">
            <div *ngIf="emailControl?.errors.required">
                {{ 'T.form.errors.required' | translate | async }}
            </div>
            <div *ngIf="emailControl?.errors.email">
                {{ 'T.form.errors.email' | translate | async }}
            </div>
        </div>
    </div>

    <div class="form-group">
        <label>Code*</label>
        <div class="row">
            <div class="col-md-4 captcha">
                <ng-container *ngIf="captcha">
                    <img class="captcha__img" [src]="captchaImageString" alt="">
                    <div class="captcha__reload" (click)="reloadCaptcha()">
                        <i class="fas fa-redo"></i>
                    </div>
                </ng-container>
            </div>
            <div class="col-md-8">
                <input class="form-control"
                    [class.form-control--error]="captchaControl?.errors && 
                        (captchaControl?.dirty || captchaControl?.touched || submitted)"
                    type="text" 
                    id="gpc-auth-code"
                    name="gpc-auth-code"
                    tabindex="2"
                    maxlength="255"
                    autocomplete="off"
                    required
                    formControlName="captcha_value">
            </div>
        </div>
        <div *ngIf="captchaControl?.errors &&
            (captchaControl?.dirty || captchaControl?.touched || submitted)" class="form-group__error">
            <div *ngIf="captchaControl?.errors.required">
                {{ 'T.form.errors.required' | translate | async }}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <button type="button" class="btn btn-link" (click)="toggleView.emit()">
                {{ 'T.buttons.signin' | translate | async }}
            </button>
        </div>
        <div class="col-md-6 text-right">
            <button tabindex="3" type="submit" class="btn btn-success">
                {{ 'T.buttons.send' | translate | async }}
            </button>
        </div>
    </div>
</form>
