label {
    padding: 5px 0;
}

.captcha__img {
    display: inline-block;
    vertical-align: middle;
}

.captcha__reload {
    display: inline-block;
    margin-left: 10px;
    vertical-align: middle;
    cursor: pointer;
}

.form-group__error {
    margin: 5px 0;
    text-align: right;
    color: red;
}