<div class="page-wrapper">
    <div class="page-header">
        <h3>
            {{ 'T.curatorPage.pageHeader' | translate | async }}
        </h3>
    </div>
    <div class="page-body">

        <ng-container *ngIf="!(serviceLoading$ | async); else preloader">
            <app-curator-chats-table [models]="models$ | async" [userRoles]="(user$ | async)?.role"></app-curator-chats-table>
        </ng-container>
    </div>

</div>

<ng-template #preloader>
    <app-design-preloader></app-design-preloader>
</ng-template>


