<ul class="nav nav-pills">
    <li class="nav-item">
        <a class="nav-link" routerLink="/seller/offers" [class.active]="!queryStatus || queryStatus === QUERY_STATUS.PROPOSAL_PUBLISH">
            {{ 'T.cabinetPages.seller.offersActive' | translate | async }}
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="/seller/offers" [queryParams]="queryParamsChat" routerLinkActive="active">
            {{ 'T.cabinetPages.seller.offersChat' | translate | async }}
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="/seller/offers" [queryParams]="queryParamsDraft" routerLinkActive="active">
            {{ 'T.cabinetPages.seller.offersDraft' | translate | async }}
        </a>
    </li>
</ul>

<div class="page-wrapper">
    <div class="page-header">
        <h3>
            {{ 'T.cabinetPages.seller.offers' | translate | async }}
            <span> - </span>
            <ng-container *ngIf="!queryStatus || queryStatus === QUERY_STATUS.PROPOSAL_PUBLISH">{{ 'T.cabinetPages.seller.offersActive' | translate | async }}</ng-container>
            <ng-container *ngIf="queryStatus === QUERY_STATUS.CHAT_PUBLISH">{{ 'T.cabinetPages.seller.offersChat' | translate | async }}</ng-container>
            <ng-container *ngIf="queryStatus === QUERY_STATUS.DRAFT">{{ 'T.cabinetPages.seller.offersDraft' | translate | async }}</ng-container>
        </h3>
    </div>
    <div class="page-body">

        <app-design-pagination
            [storeUid]="PAGINATION_STORE_UID"
            [selectFunction]="PAGINATION_SELECT_FUNCTION">
        </app-design-pagination>

        <app-seller-offers-table [models]="models"></app-seller-offers-table>

        <app-design-pagination
            [storeUid]="PAGINATION_STORE_UID"
            [selectFunction]="PAGINATION_SELECT_FUNCTION">
        </app-design-pagination>

    </div>
</div>
