<app-design-back></app-design-back>

<div class="page-wrapper">
    <div class="page-header">
        <h3>{{ 'T.tender.pageHeader' | translate | async }}</h3>
    </div>
    <div class="page-body">

        <ng-container *ngIf="tender; else preloader">

            <app-seller-tender-view
                [tender]="tender"
                [offersCount]="(offers$ | async)?.length"></app-seller-tender-view>

            <div class="row" *ngIf="tender.state === TENDER_STATES.ACTIVE || tender.state === TENDER_STATES.CONTINUE">
                <div class="col-md-6 text-center">
                    <button
                        class="btn btn-success btn-lg"
                        [routerLink]="['/seller', 'offer', tender.id, 'new']"
                        [queryParams]="queryParamsChat">
                        {{ 'T.tender.toChat' | translate | async }}
                    </button>
                </div>
                <div class="col-md-6 text-center">
                    <button
                        class="btn btn-warning btn-lg"
                        [routerLink]="['/seller', 'offer', tender.id, 'new']">
                        {{ 'T.tender.toOffer' | translate | async }}
                    </button>
                </div>
            </div>

            <app-seller-tender-offers
                [tender]="tender"
                [offers]="offers$ | async"></app-seller-tender-offers>

        </ng-container>

    </div>
</div>

<ng-template #preloader>
    <app-design-preloader></app-design-preloader>
</ng-template>
