
.no-break {
    white-space: nowrap;
}

.ng-invalid {
    border: 1px solid blue;
}

.ng-touched.ng-invalid {
    border: 2px solid red;
}

form.ng-invalid, form.ng-touched.ng-invalid,
div.ng-invalid, div.ng-touched.ng-invalid {
    border: none;
}

form {
    .padding-top {
        padding-top: 10px;
    }

    .padding-bottom {
        padding-bottom: 10px;
    }

    [disabled] {
        cursor: not-allowed;
    }

    select, select2 {
        display: inline-block;
        width: 100%;
        height: 38px;
    }

    .select2-container {
        width: 100% !important;
        height: 38px !important;
    }

    .select2-container .select2-selection--single {
        height: 38px;
    }

    .select2-container--default .select2-selection--single .select2-selection__rendered {
        line-height: 38px;
    }

    .select2-container--default .select2-selection--single .select2-selection__arrow {
        height: 36px;
    }
}
