<div class="row">

    <div class="col-md-12 bordered chat-container">
        <ng-container *ngIf="messages?.length; else emptyList">
            <p *ngFor="let message of messages" class="chat-message">
                <span class="seller-message"
                      *ngIf="message.user_role === USER_ROLES.SELLER">{{ 'T.chat.seller' | translate | async }} </span>
                <span class="curator-message"
                      *ngIf="message.user_role !== USER_ROLES.SELLER">{{ 'T.chat.curator' | translate | async }} </span>
                <span class="no-break">({{message.created | date:DATE_FORMAT}}): </span>
                <span>{{message.message}}</span>
            </p>
        </ng-container>
        <ng-template #emptyList>
            {{ 'T.noMessages' | translate | async }}
        </ng-template>
    </div>

</div>
