
.bordered {
    border: solid 1px black;
}

.chat-container {
    padding: 5px 0;
}

.chat-message {
    margin: 10px;
    line-height: 16pt;
}

.seller-message {
    color: red;
}

.curator-message {
    color: blue;
}
