<ul class="nav nav-pills">
    <li class="nav-item">
        <a class="nav-link" routerLink="/seller/tenders" routerLinkActive="active">
            {{ 'T.cabinetPages.seller.openTenders' | translate | async }}
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="/seller/offers" routerLinkActive="active">
            {{ 'T.cabinetPages.seller.offers' | translate | async }}
        </a>
    </li>
</ul>

<router-outlet></router-outlet>
