<div class="pager" *ngIf="(response$ | async) && pages?.length > 1">
    <div class="see-more" *ngIf="(config$ | async)?.seeMoreOption">{{ 'T.buttons.seeMore' | translate | async }}</div>
    <div class="actions">

        <div class="counts" *ngIf="(config$ | async)?.perPageOption">
            <!--<span class="counts__text">{{textCounts}}&nbsp;</span>-->
            <!--<div class="pager__item" (click)="onCountChange.emit(10)" [class.current]="pageSize === 10">10</div>-->
            <!--<div class="pager__item" (click)="onCountChange.emit(50)" [class.current]="pageSize === 50">50</div>-->
        </div>

        <div class="items">
            <div class="pager__nav prev">
                <a [class.disabled]="isFirstPage" [routerLink]="['./']" [queryParams]="previousPageQueryParams" queryParamsHandling="merge">
                    <i class="icon icon-ic_keyboard_arrow_right"></i>
                </a>
            </div>

            <a
                *ngFor="let page of pages; let i = index;"
                class="pager__item"
                [class.current]="currentPage === page.value"
                [routerLink]="['./']" [queryParams]="pageQueryParams[i]" queryParamsHandling="merge">

                <span>{{ page.label }}</span>
            </a>

            <div class="pager__nav next">
                <a [class.disabled]="isLastPage" [routerLink]="['./']" [queryParams]="nextPageQueryParams" queryParamsHandling="merge">
                    <i class="icon icon-ic_keyboard_arrow_right"></i>
                </a>
            </div>
        </div>
    </div>

</div>
