:host {
    //float: right;
    width: 100%;
}

.pager {
    padding: 20px 0;

    & .actions {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .items {
        display: flex;
        align-items: center;
    }

    &__item {
        color: #000000;
        text-decoration: none;
        border-bottom: 2px solid rgba(0, 0, 0, 0.2);
        width: 22px;
        height: 22px;
        vertical-align: middle;
        text-align: center;
        line-height: 18px;
        padding: 0;
        margin: 0 5px;
        font-size: 13px;
        cursor: pointer;
        transition: transform .3s ease;

        &.current {
            border-color: rgba(0, 0, 0, 0.8);
            // background-color: $c-white;
            // color: $c-dark-gray;
        }
    }

    .counts {
        display: flex;
        align-items: center;

        &__text {
            font-size: 13px;
            color: rgba(0, 0, 0, 0.8);
        }

    }

    &__nav {

        &.prev {

            & a {
                transform: rotate3d(0,1,0,180deg);
            }
        }

        & a {
            // color: $c-red;
            display: flex;
            align-items: center;
        }

        & a.disabled {
            // color: $c-dark-gray;
            pointer-events: none;
            cursor: not-allowed;
        }
    }
}
