<span *ngIf="tender.period === TENDER_PERIOD.QUARTER">
    {{tender.quarter}} {{ 'T.curatorPage.quarter' | translate | async }}
</span>

<ng-container *ngIf="tender.period === TENDER_PERIOD.URGENT">
    <span>{{ 'T.curatorPage.urgently' | translate | async }}: </span>
    <span>№ {{tender.urgentNumber}} </span>
    <span class="no-break">- {{tender.urgentData | date: DATE_FORMAT}}</span>
</ng-container>
