<div class="row text-center">
    <div class="col-md-12 padding-top padding-bottom">
        <p class="font-weight-bold p-2">{{ 'T.chat.myFiles' | translate | async }}</p>
        <p class="pb-2">({{'T.files.limit' | translate | async }} {{maxFileSizeMB}}
            MB, {{'T.files.maxFiles' | translate | async }} {{maxFilesLength}}):</p>
    </div>
</div>
<div class="row text-center">
    <div class="col-md-12">
        <app-design-file-uploader
            #fileUploader
            [loadedFiles]="files"
            [maxFileSizeMB]="maxFileSizeMB"
            [maxFilesLength]="maxFilesLength"
            [restUrl]="restUrl"
            (onAddFiles)="onAddFiles($event)"
            (onRemoveFile)="onRemoveFile($event)">
        </app-design-file-uploader>
    </div>
</div>

