<div class="page-wrapper">
    <div class="page-header">
        <h3>
            {{ 'T.settingsPage.pageHeader' | translate | async }}
        </h3>
    </div>
    <div class="page-body">

        <div class="row" *ngIf="!(loading$ | async); else preloader">
            <div class="col-md-6 offset-md-3 form-container">

                <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">

                    <app-design-password
                        [label]="'T.settingsPage.oldPassword' | translate | async"
                        [formGroupInput]="formGroup"
                        [formControlNameInput]="'password'"
                        [control]="passwordControl"
                        [submitted]="submitted"
                        [tabIndex]="1"
                        [showStrength]="false"
                        [autocomplete]="'off'">
                    </app-design-password>

                    <app-design-password
                        [label]="'T.settingsPage.newPassword' | translate | async"
                        [formGroupInput]="formGroup"
                        [formControlNameInput]="'newPassword'"
                        [control]="newPasswordControl"
                        [submitted]="submitted"
                        [tabIndex]="2"
                        (changeStrengthPassword)="onStrengthChange($event)">
                    </app-design-password>

                    <app-design-password
                        [label]="'T.settingsPage.repeatNewPassword' | translate | async"
                        [formGroupInput]="formGroup"
                        [formControlNameInput]="'repeatNewPassword'"
                        [control]="repeatNewPasswordControl"
                        [submitted]="submitted"
                        [tabIndex]="3"
                        (changeStrengthPassword)="onStrengthChange($event)">
                    </app-design-password>

                    <div class="row">
                        <div class="col-md-12 text-right">
                            <button tabindex="4" type="submit" class="btn btn-success">
                                {{ 'T.buttons.save' | translate | async }}
                            </button>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>

<ng-template #preloader>
    <app-design-preloader></app-design-preloader>
</ng-template>

