<div class="page-wrapper">
    <div class="page-header">
        <h3>
            {{ 'T.form.headers.invite' | translate | async }}
        </h3>
    </div>
    <div class="page-body">

        <ng-container *ngIf="inviteResponse && !(loading$ | async); else preloader">
            <div class="row">
                <div class="col-md-6 offset-md-3 form-container">

                    <div class="alert alert-danger" role="alert" *ngIf="signUpErrorMessage">
                        {{ signUpErrorMessage }}
                    </div>

                    <div class="alert alert-danger" role="alert" *ngIf="captchaErrorMessage">
                        {{ captchaErrorMessage }}
                    </div>

                    <form [formGroup]="inviteFormGroup" (submit)="onSubmit($event)" autocomplete="off">

                        <div class="form-group">
                            <label>Email:</label>
                            {{inviteResponse.email}}
                        </div>

                        <div class="form-group">
                            <label>{{ 'T.checkSeller.fio' | translate | async }}*</label>
                            <input class="form-control"
                                   [class.form-control--error]="fullNameControl?.errors &&
                                        (fullNameControl?.dirty || fullNameControl?.touched || inviteFormGroupSubmitted)"
                                   type="text"
                                   id="seller-invite-fullName"
                                   name="seller-invite-fullName"
                                   tabindex="1"
                                   maxlength="255"
                                   autocomplete="off"
                                   required
                                   formControlName="fullName">
                            <div *ngIf="fullNameControl?.errors &&
                                    (fullNameControl?.dirty || fullNameControl?.touched || inviteFormGroupSubmitted)"
                                 class="form-group__error">
                                <div *ngIf="fullNameControl?.errors.required">
                                    {{ 'T.form.errors.required' | translate | async }}
                                </div>
                            </div>
                        </div>

                        <div class="form-group form-group--password-icon">
                            <label>{{ 'T.checkSeller.yourPassword' | translate | async }}*</label>
                            <input class="form-control"
                                   [class.form-control--error]="((strengthPassword || 0) < VALID_STRENGTH_PASSWORD || passwordControl?.errors) &&
                                        (passwordControl?.dirty || passwordControl?.touched || inviteFormGroupSubmitted)"
                                   [type]="passwordType"
                                   id="seller-invite-password"
                                   name="seller-invite-password"
                                   tabindex="2"
                                   minlength="8"
                                   maxlength="255"
                                   [autocomplete]="passwordType === 'password' ? 'new-password' : 'off'"
                                   required
                                   formControlName="password">

                            <span class="eye-icon" (click)="toggleViewPassword()">
                                <fa name="eye" *ngIf="passwordType === 'password'"></fa>
                                <fa name="eye-slash" *ngIf="passwordType === 'text'"></fa>
                            </span>

                            <password-strength-meter
                                *ngIf="passwordControl"
                                [password]="passwordControl.value"
                                [minPasswordLength]="8"
                                (strengthChange)="onStrengthChange($event)">
                            </password-strength-meter>
                            <small>
                                {{ 'T.form.help.password' | translate | async }}
                            </small>
                            <div class="form-group__error"
                                 *ngIf="(strengthPassword || 0) < VALID_STRENGTH_PASSWORD && (passwordControl?.dirty || passwordControl?.touched || inviteFormGroupSubmitted)">
                                <div>
                                    {{ 'T.form.help.lessPassword' | translate | async }}
                                </div>
                            </div>
                            <div *ngIf="passwordControl?.errors &&
                                    (passwordControl?.dirty || passwordControl?.touched || inviteFormGroupSubmitted)"
                                 class="form-group__error">
                                <div *ngIf="passwordControl?.errors.minlength">
                                    {{ 'T.form.errors.minLength' | translate | async }}:
                                    {{ passwordControl?.errors.minlength.requiredLength }}
                                </div>
                                <div *ngIf="passwordControl?.errors.required">
                                    {{ 'T.form.errors.required' | translate | async }}
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label>{{ 'T.checkSeller.phone' | translate | async }}*</label>
                            <input class="form-control"
                                   [class.form-control--error]="phoneControl?.errors &&
                                        (phoneControl?.dirty || phoneControl?.touched || inviteFormGroupSubmitted)"
                                   type="text"
                                   id="seller-invite-phone"
                                   name="seller-invite-phone"
                                   tabindex="3"
                                   maxlength="255"
                                   autocomplete="on"
                                   required
                                   formControlName="phone">
                            <div *ngIf="phoneControl?.errors &&
                                    (phoneControl?.dirty || phoneControl?.touched || inviteFormGroupSubmitted)"
                                 class="form-group__error">
                                <div *ngIf="phoneControl?.errors.required">
                                    {{ 'T.form.errors.required' | translate | async }}
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label>{{ 'T.checkSeller.company' | translate | async }}*</label>
                            <input class="form-control"
                                   [class.form-control--error]="companyNameControl?.errors &&
                                        (companyNameControl?.dirty || companyNameControl?.touched || inviteFormGroupSubmitted)"
                                   type="text"
                                   id="seller-invite-companyName"
                                   name="seller-invite-companyName"
                                   tabindex="4"
                                   maxlength="255"
                                   autocomplete="on"
                                   required
                                   formControlName="companyName">
                            <div *ngIf="companyNameControl?.errors &&
                                    (companyNameControl?.dirty || companyNameControl?.touched || inviteFormGroupSubmitted)"
                                 class="form-group__error">
                                <div *ngIf="companyNameControl?.errors.required">
                                    {{ 'T.form.errors.required' | translate | async }}
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label>{{ 'T.checkSeller.position' | translate | async }}*</label>
                            <input class="form-control"
                                   [class.form-control--error]="positionControl?.errors &&
                                        (positionControl?.dirty || positionControl?.touched || inviteFormGroupSubmitted)"
                                   type="text"
                                   id="seller-invite-position"
                                   name="seller-invite-position"
                                   tabindex="5"
                                   maxlength="255"
                                   autocomplete="on"
                                   required
                                   formControlName="position">
                            <div *ngIf="positionControl?.errors &&
                                    (positionControl?.dirty || positionControl?.touched || inviteFormGroupSubmitted)"
                                 class="form-group__error">
                                <div *ngIf="positionControl?.errors.required">
                                    {{ 'T.form.errors.required' | translate | async }}
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label>Code*</label>
                            <div class="row">
                                <div class="col-md-4 captcha">
                                    <ng-container *ngIf="captcha">
                                        <img class="captcha__img" [src]="captchaImageString" alt="">
                                        <div class="captcha__reload" (click)="reloadCaptcha()">
                                            <i class="fas fa-redo"></i>
                                        </div>
                                    </ng-container>
                                </div>
                                <div class="col-md-8">
                                    <input class="form-control"
                                           [class.form-control--error]="captchaControl?.errors &&
                                                (captchaControl?.dirty || captchaControl?.touched || inviteFormGroupSubmitted)"
                                           type="text"
                                           id="seller-invite-inviteCode"
                                           name="seller-invite-inviteCode"
                                           tabindex="6"
                                           maxlength="255"
                                           autocomplete="off"
                                           required
                                           formControlName="captcha_value">
                                </div>
                            </div>
                            <div *ngIf="captchaControl?.errors &&
                                    (captchaControl?.dirty || captchaControl?.touched || inviteFormGroupSubmitted)"
                                 class="form-group__error">
                                <div *ngIf="captchaControl?.errors.required">
                                    {{ 'T.form.errors.required' | translate | async }}
                                </div>
                            </div>
                        </div>

                        <div class="text-right">
                            <button type="submit" class="btn btn-success">
                                {{ 'T.buttons.send' | translate | async }}
                            </button>
                        </div>

                    </form>

                </div>
            </div>
        </ng-container>

    </div>
</div>

<ng-template #preloader>
    <app-design-preloader></app-design-preloader>
</ng-template>
