<div class="page-wrapper">
    <div class="page-header">
        <h3>{{ 'T.offers.pageHeader' | translate | async }}</h3>
    </div>
    <div class="page-body">

        <ng-container *ngIf="tender; else preloader">
            <div class="container print">
                <div class="row">
                    <div class="col-md-12 text-center">

                        <button type="button"
                                class="btn btn-success"
                                [disabled]="lockButtons"
                                (click)="onPrint()">
                            {{ 'T.buttons.print' | translate | async }}
                        </button>

                    </div>
                </div>
            </div>

            <table class="table table-striped">
                <tr>
                    <th>{{ 'T.tenders.number' | translate | async }}</th>
                    <th>{{ 'T.tenders.name' | translate | async }}</th>
                    <th>{{ 'T.tenders.operatingCompany' | translate | async }}</th>
                    <th>{{ 'T.newTender.period' | translate | async }}</th>
                    <th>{{ 'T.tenders.creator' | translate | async }}</th>
                    <th>{{ 'T.tenders.period' | translate | async }}</th>
                    <th>{{ 'T.tenders.groupSellers' | translate | async }}</th>
                </tr>
                <tr>
                    <td>{{tender.id}}</td>
                    <td>{{tender.name | multilang | async}}</td>
                    <td>{{tender.operatingCompany}}</td>

                    <ng-container *ngIf="tender.period === PERIOD_TYPE.URGENT">
                        <td>
                            {{ 'T.periodType.urgent' | translate | async }}:
                            {{ 'T.tenders.number' | translate | async }}{{tender.urgentNumber}}
                            ({{tender.urgentData}})
                        </td>
                    </ng-container>

                    <ng-container *ngIf="tender.period === PERIOD_TYPE.QUARTER">
                        <td>
                            {{ 'T.periodType.quarter' | translate | async }}:
                            {{tender.quarter}}
                        </td>
                    </ng-container>

                    <td>{{tender.creator}}</td>
                    <td class="no-break">
                        {{tender.startDate | date:DATE_FORMAT}}<br>
                        {{tender.endDate | date:DATE_FORMAT}}
                    </td>
                    <td>{{tender.sellerGroupName}}</td>
                </tr>
            </table>
        </ng-container>

        <ng-container *ngIf="offers; else preloader">
            <div class="container headline">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <p><strong>{{ 'T.offers.list' | translate | async }}</strong></p>
                    </div>
                </div>
            </div>

            <ng-container *ngIf="proposals.length; else emptyList">

                <table class="table table-striped">
                    <tr>
                        <th>{{ 'T.goffers.companyName' | translate | async }}</th>
                        <th>{{ 'T.goffers.documents' | translate | async }}</th>
                        <th>{{ 'T.goffers.date' | translate | async }}</th>
                    </tr>
                    <tr *ngFor="let proposal of proposals">
                        <td>{{proposal.companyName}}</td>
                        <td>
                            <a [routerLink]="['/auditor', 'offer', proposal.id]">
                                {{ 'T.goffers.viewdocs' | translate | async }}
                            </a>
                        </td>
                        <td>
                            <span class="no-break">{{proposal | offerDate | date:DATE_FORMAT}}</span>
                        </td>
                    </tr>
                </table>
            </ng-container>

            <div class="container headline">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <p><strong>{{ 'T.offers.chat' | translate | async }}</strong></p>
                    </div>
                </div>
            </div>

            <ng-container *ngIf="questions.length; else emptyList">

                <table class="table table-striped">
                    <tr>
                        <th>{{ 'T.goffers.companyName' | translate | async }}</th>
                        <th>{{ 'T.goffers.documents' | translate | async }}</th>
                        <th>{{ 'T.goffers.date' | translate | async }}</th>
                    </tr>
                    <tr *ngFor="let question of questions">
                        <td>{{question.companyName}}</td>
                        <td>
                            <a [routerLink]="['/auditor', 'offer', question.id]">
                                {{ 'T.goffers.viewdocs' | translate | async }}
                            </a>
                        </td>
                        <td>
                            <span class="no-break">{{question | offerDate | date:DATE_FORMAT}}</span>
                        </td>
                    </tr>
                </table>
            </ng-container>

            <ng-template #emptyList>
                <div class="row text-center pb-5">
                    <div class="col-md-12">
                        {{ 'T.emptyList' | translate | async }}
                    </div>
                </div>
            </ng-template>

        </ng-container>

    </div>
</div>

<ng-template #preloader>
    <app-design-preloader></app-design-preloader>
</ng-template>
