<ng-container *ngIf="models">
    <table class="table table-bordered table-responsive" *ngIf="models.length; else emptyList">
        <thead>
        <tr>
            <th>{{ 'T.curatorPage.answerTime' | translate | async }}</th>

            <th *ngIf="!USER_IS_ADMIN">{{ 'T.files.actions' | translate | async }}</th>

            <th *ngIf="!USER_IS_CURATOR">{{ 'T.newTender.namecur' | translate | async }}</th>
            <th *ngIf="!USER_IS_CURATOR">{{ 'T.newTender.emailcur' | translate | async }}</th>

            <th>{{ 'T.tenders.id' | translate | async }}</th>
            <th>{{ 'T.tenders.operatingCompany' | translate | async }}</th>
            <th>{{ 'T.tenders.periodType' | translate | async }}</th>
            <th>{{ 'T.curatorPage.endDate' | translate | async }}</th>
            <th>{{ 'T.curatorPage.messageText' | translate | async }}</th>
            <th>{{ 'T.curatorPage.messageTime' | translate | async }}</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let model of models">

            <td class="green" *ngIf="!model.chat.lastMessage; else hasMessage">
                {{ 'T.noMessages' | translate | async }}
            </td>

            <ng-template #hasMessage>

                <td class="red" *ngIf="model.chat.curatorAnswer; else trueAnswer">
                    <p>
                        <span>{{ 'T.curatorPage.answerEnd' | translate | async }}: </span>
                        <span class="no-break">{{model.chat.curatorAnswer | date: DATE_FORMAT}}</span>
                    </p>
                </td>

                <ng-template #trueAnswer>

                    <td class="green">

                        <p *ngIf="USER_IS_CURATOR; else curatorAnswer">{{ 'T.curatorPage.yourAnswer' | translate | async }}</p>

                        <ng-template #curatorAnswer>
                            <p>{{ 'T.curatorPage.curatorAnswer' | translate | async }}</p>
                        </ng-template>
                    </td>
                </ng-template>
            </ng-template>

            <td *ngIf="!USER_IS_ADMIN">
                <a [routerLink]="['/curator', 'chat', model.tender.id]">{{ 'T.curatorPage.chatLink' | translate | async }}</a>
            </td>

            <td *ngIf="!USER_IS_CURATOR">
                <p>{{ model.tender.namecur }}</p>
            </td>
            <td *ngIf="!USER_IS_CURATOR">
                <p>{{ model.tender.emailcur }}</p>
            </td>

            <td>
                <p>{{model.tender.id}}</p>
            </td>
            <td>
                <p>{{model.tender.operatingCompany}}</p>
            </td>
            <td>
                <p>
                    <app-design-tender-period [tender]="model.tender"></app-design-tender-period>
                </p>
            </td>
            <td>
                <p class="no-break">{{model.tender.endDate | date: DATE_FORMAT}}</p>
            </td>
            <td>
                <p>{{model.chat.lastMessage}}</p>
            </td>
            <td>
                <p class="no-break"
                   *ngIf="model.chat.lastMessageTime">{{model.chat.lastMessageTime | date: DATE_FORMAT_SECONDS}}</p>
            </td>
        </tr>
        </tbody>
    </table>

    <ng-template #emptyList>
        <div class="row text-center">
            <div class="col-md-12">
                {{ 'T.emptyList' | translate | async }}
            </div>
        </div>
    </ng-template>

</ng-container>

