
tr.backgreen {
    background-color: green;
}

tr.backred {
    background-color: orangered;
}

td.red {
    color: red;
    font-weight: bold;
}

td.green {
    color: green;
    font-weight: bold;
}

.no-break {
    white-space: nowrap;
}

.need-break {
    width: 150px;
    word-break: break-all;
}

