<app-design-back></app-design-back>

<div class="page-wrapper">
    <div class="page-header">
        <h3>{{ 'T.tender.pageHeader' | translate | async }}</h3>
    </div>
    <div class="page-body">

        <app-curator-tender-view
            [tender]="tender$ | async"></app-curator-tender-view>

    </div>
</div>
