<div class="page-wrapper">
    <div class="page-header">
        <h3></h3>
    </div>
    <div class="page-body">
        <div class="row">
            <div class="col-md-12 text-center">
                <p class="instruction">
                    <a [href]="url" target="_self">Вход в панель администратора</a>
                </p>
            </div>
        </div>
    </div>
</div>
