<div class="page-wrapper">
    <div class="page-header">
        <h3>{{ 'T.tenderGroupUnlock.pageHeader' | translate | async }}</h3>
    </div>
    <div class="page-body">

        <ng-container *ngIf="inviteResponse && !(loading$ | async); else preloader">
            <div class="row">
                <div class="col-md-6 offset-md-3 form-container">

                    <div class="alert alert-danger" role="alert" *ngIf="captchaErrorMessage">
                        {{ captchaErrorMessage }}
                    </div>

                    <form [formGroup]="inviteFormGroup" (submit)="onSubmit($event)">

                        <p>{{ 'T.tenderGroupUnlock.inputKeys' | translate | async }}:</p>

                        <ng-container formArrayName="keys">

                            <div class="form-group form-group--password-icon"
                                *ngFor="let key of inviteFormGroup.get('keys').controls; let i=index">
                                <label>{{i+1}} {{ 'T.tenderGroupUnlock.key' | translate | async }}*</label>
                                <div [formGroupName]="i">
                                    <input class="form-control"
                                        [class.form-control--error]="(key?.controls?.keyName?.errors) &&
                                            (key?.controls?.keyName?.dirty || key?.controls?.keyName?.touched || inviteFormGroupSubmitted)"
                                        [type]="passwordTypes[i]"
                                        id="keyName-{{i}}"
                                        [tabindex]="i + 1"
                                        minlength="8"
                                        maxlength="255"
                                        [autocomplete]="passwordTypes[i] === 'password' ? 'new-password' : 'off'"
                                        required
                                        formControlName="keyName">

                                    <span class="eye-icon" (click)="toggleViewPassword(i)">
                                        <fa name="eye" *ngIf="passwordTypes[i] === 'password'"></fa>
                                        <fa name="eye-slash" *ngIf="passwordTypes[i] === 'text'"></fa>
                                    </span>
                                    <small>
                                        {{ 'T.form.help.password' | translate | async }}
                                    </small>
                                    <div *ngIf="key?.controls?.keyName?.errors &&
                                            (key?.controls?.keyName?.dirty || key?.controls?.keyName?.touched || inviteFormGroupSubmitted)"
                                            class="form-group__error">
                                        <div *ngIf="key?.controls?.keyName?.errors.minlength">
                                            {{ 'T.form.errors.minLength' | translate | async }}:
                                            {{ key?.controls?.keyName?.errors.minlength.requiredLength }}
                                        </div>
                                        <div *ngIf="key?.controls?.keyName?.errors.required">
                                            {{ 'T.form.errors.required' | translate | async }}
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </ng-container>

                        <div class="form-group">
                            <label>Code*</label>
                            <div class="row">
                                <div class="col-md-4 captcha">
                                    <ng-container *ngIf="captcha">
                                        <img class="captcha__img" [src]="captchaImageString" alt="">
                                        <div class="captcha__reload" (click)="reloadCaptcha()">
                                            <i class="fas fa-redo"></i>
                                        </div>
                                    </ng-container>
                                </div>
                                <div class="col-md-8">
                                    <input class="form-control"
                                        [class.form-control--error]="captchaControl?.errors && 
                                            (captchaControl?.dirty || captchaControl?.touched || inviteFormGroupSubmitted)"
                                        type="text" 
                                        id="inviteCode"
                                        name="inviteCode"
                                        tabindex="3"
                                        maxlength="255"
                                        autocomplete="off"
                                        required
                                        formControlName="captcha_value">
                                </div>
                            </div>
                            <div *ngIf="captchaControl?.errors && 
                                (captchaControl?.dirty || captchaControl?.touched || inviteFormGroupSubmitted)" class="form-group__error">
                                <div *ngIf="captchaControl?.errors.required">
                                    {{ 'T.form.errors.required' | translate | async }}
                                </div>
                            </div>
                        </div>

                        <div class="text-right">
                            <button type="submit" class="btn btn-success">
                                {{ 'T.buttons.send' | translate | async }}
                            </button>
                        </div>
                    </form>

                </div>
            </div>
        </ng-container>

    </div>
</div>

<ng-template #preloader>
    <app-design-preloader></app-design-preloader>
</ng-template>
