<ng-container *ngIf="models; else preloader">

    <table class="table table-striped" *ngIf="models.length; else emptyList">
        <thead>
        <tr>
            <th scope="col">{{ 'T.tenders.id' | translate | async }}</th>
            <th scope="col">{{ 'T.tenders.name' | translate | async }}</th>
            <th scope="col">{{ 'T.tenders.startDate' | translate | async }}</th>
            <th scope="col">{{ 'T.tenders.endDate' | translate | async }}</th>
            <th scope="col">{{ 'T.goffers.id' | translate | async }}</th>
            <th scope="col">{{ 'T.goffers.date' | translate | async }}</th>
            <th scope="col">{{ 'T.goffers.contactName' | translate | async }}</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let row of models">
            <td>{{row.tenderId}}</td>
            <td>
                <a [routerLink]="['/seller', 'tender', row.tenderId]">
                    {{ row.tenderName | multilang | async }}
                </a>
            </td>
            <td class="no-break">{{row.tenderStartDate | date:DATE_FORMAT}}</td>
            <td class="no-break">{{row.tenderEndDate | date:DATE_FORMAT}}</td>
            <td>{{row.id}}</td>
            <td class="no-break">{{row | offerDate | date:DATE_FORMAT}}</td>
            <td>
                {{row.contactName}}
                <br>{{row.contactPhone}}
                <br>{{row.contactPosition}}
            </td>
            <td>
                <ng-container
                    *ngIf="(row.tenderState === TENDER_STATE.ACTIVE || row.tenderState === TENDER_STATE.CONTINUE); else closedTender">

                    <a *ngIf="row.state === OFFER_STATE.DRAFT; else toChat"
                       [routerLink]="['/seller', 'offer', row.tenderId, row.id]">
                        {{ 'T.actions.edit' | translate | async }}
                    </a>

                    <ng-template #toChat>
                        <a [routerLink]="['/seller', 'chat', row.tenderId]">
                            {{ 'T.curatorPage.chatLink' | translate | async }}
                        </a>
                    </ng-template>

                </ng-container>

                <ng-template #closedTender>
                    {{ 'T.tenders.closed' | translate | async }}
                </ng-template>
            </td>
        </tr>
        </tbody>
    </table>

    <ng-template #emptyList>
        <div class="row text-center">
            <div class="col-md-12">
                {{ 'T.emptyList' | translate | async }}
            </div>
        </div>
    </ng-template>
</ng-container>

<ng-template #preloader>
    <app-design-preloader></app-design-preloader>
</ng-template>
