<ng-container *ngIf="tender; else preloader">

    <div class="row">
        <div class="col-md-12 text-center">
            <p class="instruction">{{ 'T.tenders.forNumber' | translate | async }} № <span>{{tender.id}}</span></p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">

            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">{{ 'T.tenders.name' | translate | async }}</th>
                    <th scope="col">{{ 'T.tenders.operatingCompany' | translate | async }}</th>
                    <th scope="col">{{ 'T.tenders.period' | translate | async }}</th>
                    <th scope="col">{{ 'T.tenders.groupSellers' | translate | async }}</th>
                    <th scope="col" *ngIf="tender.state === TENDER_STATES.ACTIVE || tender.state === TENDER_STATES.CONTINUE"></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>{{tender.name | multilang | async}}</td>
                    <td>{{tender.operatingCompany}}</td>
                    <td class="no-break">
                        {{tender.startDate | date:DATE_FORMAT}}<br>
                        {{tender.endDate | date:DATE_FORMAT}}
                    </td>
                    <td>{{tender.sellerGroupName}}</td>
                    <td *ngIf="tender.state === TENDER_STATES.ACTIVE || tender.state === TENDER_STATES.CONTINUE">
                        <a
                            *ngIf="offersCount"
                            [routerLink]="['/seller', 'chat', tender.id]">
                            {{ 'T.curatorPage.chatLink' | translate | async }}
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>

            <h3>{{ 'T.tenders.additional' | translate | async }}:</h3>

            <p>
                {{tender.description | multilang | async}}
            </p>

            <ol *ngIf="tender.files?.length">
                <li *ngFor="let file of tender.files">
                    <app-design-file-link [inFile]="file"></app-design-file-link>
                </li>
            </ol>

        </div>
    </div>

</ng-container>

<ng-template #preloader>
    <app-design-preloader></app-design-preloader>
</ng-template>
