<ng-container [formGroup]="formGroupInput">
    <input readonly [min]="min" [formControlName]="formControlNameInput" [owlDateTime]="dateTime" [owlDateTimeTrigger]="dateTime" placeholder="">
    <owl-date-time #dateTime [pickerType]="pickerType"></owl-date-time>
    <div class="input-group-append">
        <span class="input-group-text" [owlDateTimeTrigger]="dateTime"><i class="fa fa-calendar"></i></span>
    </div>
</ng-container>
