$bg: #f3f3f3;
$border: #11145b;
$Regular: 'Noto Sans', sans-serif;
$Bold: 'Noto Sans', sans-serif;
$Italic: 'Noto Sans', sans-serif;

/* Radius */
@mixin radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    border-radius: $radius;
}
/* Shadow */
@mixin shadow($left, $right, $blur) {
    -webkit-box-shadow: #{$left} #{$right} #{$blur} rgba(138, 138, 138, 0.8);
    -moz-box-shadow:    #{$left} #{$right} #{$blur} rgba(138, 138, 138, 0.8);
    box-shadow:         #{$left} #{$right} #{$blur} rgba(138, 138, 138, 0.8);
}
/* Opacity */
@mixin opacity($value) {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity="+$value*100+")"; /* IE 8 */
    filter: alpha(opacity=$value*100);  /* IE 5-7 */
    -moz-opacity: $value;               /* Netscape */
    -khtml-opacity: $value;             /* Safari 1.x */
    opacity: $value;                    /* Good browsers */
}

/* DEFAULT */
html {height: 100%;}
body {
    font-weight: normal; 
    font-family: $Regular;
    height: 100%;
    background: $bg;
}
body #hidden { display:none; font-size:0px; }
body .clr { clear:both !important; font-size:0px; height:0px; }
a { cursor:pointer; text-decoration: none; }
a:active, a:focus { outline:none; /*ie-dummy:expression(this.hideFocus=true);*/ }
a img { border:0px; }

#header {
    border-bottom: 6px solid $border;
    height: 74px;
    nav{
        width: 982px;
        height: 80px;
        margin:0 auto;
        position: relative;
        #menu { 
            margin-left: 203px;
            list-style-type: none;
            position: relative;
            top: 24px; 
            li { 
                float: left;
                height: 50px; 
                a { 
                    color: $border; 
                    display: block; 
                    float: left; 
                    padding: 0 14px;
                    text-decoration: none; 
                    font: bold 14px/50px $Bold;
                }

                &#magic-line { 
                    position: absolute; 
                    height: 6px; 
                    top: 50px; 
                    left: 0; 
                    background: #e31e24;
                }
            }
        }
        #lang {
            list-style-type: none;
            position: absolute;
            top: 42px;
            right: -10px;
            li {
                float: left;
                margin-left: 3px;
            }
        }
    }
    .logo {
        position: absolute;
        width: 264px;
        height: 80px;
        background: $bg;
        left: -60px;
        text-align: center;
        img {
            position: absolute;
            top: 21px;
            left: 60px;
            z-index: 2;
        }
    }
}
.main_slider .bx-viewport{
    height: 450px !important;
}
#content {
    padding: 53px 0;
    width: 982px;
    margin: 0 auto;
        
    h1 {
        margin-bottom: 35px;
        font: bold 18px/20px $Bold;
        color: $border;
    }

    /* MAIN */
    &.main {
        .block {
            height: 240px;
            overflow: hidden;
            float: left;
            margin-left: 10px;
            background: url('https://gpc.az/img/bg-main-block.png') left bottom repeat-x;
            text-align: center;
            &>img {
                border: 5px solid $bg;
            }
            &.block1 {
                width: 300px;
                margin-left: 0;
            }
            &.block2 {
                width: 300px;
            }
            &.block3 {
                width: 362px;
                .slider_currency {
                    padding-top: 20px;
                    color: $bg;
                    font:bold 25px $Bold;
                    .slide{
                        height: 60px;
                    }
                    img {
                        float: left;
                        &.azn {
                            float: right;
                            margin-top: 10px;
                        }
                    }
                }
                .bx-controls-direction a{
                    background: url('https://gpc.az/img/controls2.png') no-repeat;
                    width: 29px;
                    height: 17px;
                    bottom: 15px;
                    &.bx-prev {
                        left: -50px;
                        margin: 0px;
                        background-position: 0 0 !important;
                    }
                    &.bx-next {
                        left: 202px;
                        margin: 0px;
                        background-position: 100% 0 !important;
                    }
                }
            }
            h2 {
                height: 60px;
                font: bold 18px/60px $Bold;
                color: #F3F3F3;
                a {
                    color: $bg;
                }
            }
            .border {
                margin: 0 auto;
                display: block;
                width: 36px;
                height: 4px;
                background: $bg;
            }
            p {
                padding: 20px 26px 36px;
                font: normal 14px $Regular;
                color: $bg;
            }
        }
        .block-second {
            border: 3px solid $border;
            margin-top: 44px;
            float: left;
            text-align: center;
            height: 185px;
            h3 {
                font: bold 18px $Bold;
                color: $border;
                padding: 0 20px;
                background: $bg;
                position: relative;
                top: -14px;
                text-align: center;
                display: inline-block;
                zoom:1;
                *display: inline;
            }

            &.partners {
                width: 604px;
                .bx-wrapper {
                    padding-top: 27px;
                    .bx-controls-direction a {
                        top: 45px;
                        margin-left:0;
                        &:hover{
                            background-position:left bottom;
                        }
                    }
                    .bx-prev {
                        left: -55px;
                    }
                    .bx-next {
                        left: 456px;
                        &:hover{
                            background-position:right bottom !important;
                        }
                    }
                }
            }
            &.brochure {
                width: 355px;
                float: right;
                &>a {
                    float: left;
                    margin: 18px 18px 0 18px;
                    color: $border;
                }
                p {
                    font: normal 14px/16px $Regular;
                    color: $border;
                    text-align: left;
                    padding:18px 20px 0px 0;
                }
                .download {
                    text-align: left;
                    font: normal 14px/16px $Regular;
                    a {
                        font: bold 14px/16px $Bold;
                        text-decoration: underline;
                        color: $border;
                        &:hover{
                            text-decoration:none;
                        }
                    }
                }
            }
        }
    }

    /* ABOUT */
    &.about {
        .about_menu {
            float: left;
            width: 238px;
            border: 3px solid $border;
            padding: 10px 0;
            a {
                display: block;
                font: bold 14px/16px $Bold;
                color: $border;
                padding: 10px 20px;
                border-left: 3px solid $border;
                position: relative;
                left: -3px;
                &.active {
                    border-left: 3px solid $bg;
                }
            }
        }
        .about_right {
            float: right;
            border-top: 2px solid #746f8f; 
            border-bottom: 2px solid #746f8f;
            width: 244px;
            padding: 16px 13px;
            font: italic 14px/21px $Italic;
            color: $border;
            strong {
                display: block;
                padding-top: 14px;
                font-style: normal;
            }
        }
        .about_text {
            margin: 0 271px 0 244px;
            padding: 0 32px;
            color: $border;
            p {
                font: normal 14px/19px $Regular;
                padding-bottom: 20px;
            }
            img {
                margin-bottom: 20px;
            }
        }
    }

    /* SERVICES */
    &.services{

        .item {
            height: 345px;
            width: 480px;
            overflow: hidden;
            float: left;
            margin-right: 22px;
            margin-bottom: 40px;
            background: url('https://gpc.az/img/bg-services-block.png') left bottom repeat-x;
            text-align: center;
            &>img {
                border: 6px solid $bg;
            }
            h2 {
                width: 391px;
                font: bold 20px/22px $Bold;
                padding: 30px 0 24px;
                margin: 0 auto;
                a {
                    color: $bg;
                }
            }
            .border {
                margin: 0 auto;
                display: block;
                width: 40px;
                height: 5px;
                background: $bg;
            }
            p {
                padding: 20px 26px 36px;
                font: normal 16px/20px $Regular;
                color: $bg;
            }
        }
    }

    /* NEWS */
    &.news {
        width: 1012px;
        .container {
            padding-top: 20px;
        }
        .item {
            width: 410px !important;
            border: 3px solid $border;
            padding: 38px 35px 40px;
            margin-right: 20px;
            margin-bottom: 30px;
            h4 {
                font: bold 14px/19px $Bold;
                color: $border;
                padding-bottom: 14px;
            }
            .date {
                position: absolute;
                top: -25px;
                left: 35px;
                background: $bg;
                padding: 13px;
                color: $border;
                font: bold 14px $Bold;
            }
            .info {
                font: normal 14px $Regular;
                p{
                    padding-top: 10px
                }
            }
        }
    }

    /* USEFUL */
    &.useful {
        .item {
            height: 243px;
            width: 316px;
            overflow: hidden;
            float: left;
            margin-right: 17px;
            margin-bottom: 30px;
            background: url('https://gpc.az/img/bg-main-block.png') left bottom repeat-x;
            text-align: center;
            &>a {
                border: 6px solid $bg;
                width: 239px;
                height: 93px;
                margin: 0 auto 25px;
                display: block;
            }
            h2 {
                width: 391px;
                font: bold 20px/22px $Bold;
                padding: 30px 0 24px;
                margin: 0 auto;
                a {
                    color: $bg;
                }
            }
            .border {
                margin: 0 auto;
                display: block;
                width: 40px;
                height: 5px;
                background: $bg;
                clear: left;
            }
            p {
                padding: 20px 26px 36px;
                font: normal 14px/18px $Regular;
                color: $bg;
            }
        }
    }

    /* USEFUL VIEW */
    &.userful_view {
        position: relative;
        .back {
            position: absolute;
            top: 54px;
            right: 0px;
            font: normal 14px/16px $Regular;
            text-decoration: underline;
            padding-left: 25px;
            background: url('https://gpc.az/img/bg-back.png') left center no-repeat;
            color: $border;
            &:hover{
                text-decoration:none;
            }
        }
        .image {
            width: 326px;
            overflow: hidden;
            float: right;
        }
        .text {
            width: 610px;
            font: normal 14px/20px $Regular;
            color: $border;

            h2 {
                font-weight: bold;
                padding-bottom: 29px;
            }
            p{
                padding-bottom: 18px;
            }
        }
        .pagination {
            margin-top: 20px;
            border-top: 2px solid $border;
            width: 588px;
            padding: 30px 11px;
            a {
                float: left;
                width: 214px;
                color: $border;
                font: normal 12px/16px $Regular;
                &.prev {
                    padding-left: 60px;
                    background: url('https://gpc.az/img/controls3-left.png') left center no-repeat;
                    text-align: left;
                }
                &.next {
                    background: url('https://gpc.az/img/controls3-right.png') right center no-repeat;
                    padding-right: 60px;
                    float: right;
                    text-align: right;
                }
            }
        }
    }

    /* PARTNERS */
    &.partners {
        .item {
            border: 3px solid $border;
            float: left;
            width: 385px;
            height: 335px;
            margin-right: 20px;
            margin-bottom: 22px;
            text-align: center;
            padding: 45px;
            font: normal 14px/19px $Regular;
            color: $border;
            img {
                height: 112px;
            }
            h3 {
                padding: 30px 0 22px;
                font-weight: bold;
            }
        }
    }

    /* CONTACT */
    &.contact {
        .form {
            float: right;
            width: 305px;
            font: bold 14px/16px $Bold;
            color: $border;
            h3 {
                font: bold 14px/16px $Bold;
                padding-bottom: 19px;
            }
            input[type="text"], textarea{
                border: 3px solid $border;
                padding: 14px 16px;
                font: normal 14px/16px $Regular;
                width: 267px;
                margin-bottom: 12px;
            }
            textarea {
                height: 146px;
            }
            input[type="submit"]{
                background: $border;
                font: bold 14px/16px $Bold;
                padding: 20px 39px;
                color: $bg;
                border: none;
                float: right;
                margin-top: 8px;
                cursor: pointer;
            }
            p {
                font: normal 14px/22px $Regular;
            }
            a.refresh {
                display: block;
                padding: 20px 39px;
                color: $bg;
                background: $border;
                float: left;
                margin-top: 20px;
            }
        }

        .text {
            width: 653px;
            float: left;

            .office {
                margin-bottom: 20px;
                .right {
                    float: right;
                }
                a {
                    color: $border;
                    text-decoration: underline;
                    &:hover{
                        text-decoration:none;
                    }
                }
                .left {
                    border: 3px solid $border;
                    color: $border;
                    float: left;
                    width: 280px;
                    padding: 34px;
                    h4 {
                        font: bold 14px/19px $Bold;
                        padding-bottom: 15px;
                    }
                    ul {
                        list-style-type: none;
                        font: normal 14px/19px $Regular;
                        li {
                            padding-left: 26px;
                            margin-top:10px;
                            &:first-child{
                                margin-top:0;
                            } 
                            &.address {
                                background: url('https://gpc.az/img/icon-address.png') 0 5px no-repeat;
                            }
                            &.tel {
                                background: url('https://gpc.az/img/icon-tel.png')  0 5px no-repeat;
                            }
                            &.mail {
                                background: url('https://gpc.az/img/icon-mail.png')  0 5px no-repeat;
                            }
                        }
                    }
                }

            }
        }
    }
}
#footer {
    border-top: 7px solid #fe0002;
    background: $border;
    height: 200px;
    .footer_wrapper {
        width:982px;
        margin: 0 auto;
        padding-top: 30px;
        font: normal 12px/18px $Regular;
        
        .copy {
            color: #fff;
            float: left;
        }
        .address {
            float: right;
            width: 150px;
            color: #fff;
            a {
                color: #fff;
            }
        }
        .footer_nav {
            margin: 0 190px 0 200px;
            a {
                color: #fff;
                text-decoration: none;
                font-weight: bold;
                font-size: 9px;
                margin-right: 15px;
                display: inline-block;
                zoom:1;
                *display: inline;
                &:hover{
                    text-decoration:underline;
                }
            } 
            .social {
                float: right;
                a {
                    float: left;
                    width: 33px;
                    height: 33px;
                    background: url('https://gpc.az/img/social.png') 0 0 no-repeat;
                    font-size: 0;
                    margin-right: 0;
                    margin-left: 8px;
                    &.fb {
                        background-position: 0 0; 
                    }
                    &.tw {
                        background-position: -42px 0; 
                    }
                    &.yt {
                        background-position: -82px 0; 
                    }
                }
            }
        }
    }
}
.social a:hover, .pagination a:hover{
    background-position: bottom;
}
.error {
    border: 1px solid red;
    
    padding: 10px 30px;
    background: red;
    color: #fff;
    margin-bottom: 10px; 
}