/* Radius */
/* Shadow */
/* Opacity */
/* DEFAULT */
html {
  height: 100%; }

body {
  font-weight: normal;
  font-family: "Noto Sans", sans-serif;
  height: 100%;
  background: #f3f3f3; }

body #hidden {
  display: none;
  font-size: 0px; }

body .clr {
  clear: both !important;
  font-size: 0px;
  height: 0px; }

a {
  cursor: pointer;
  text-decoration: none; }

a:active, a:focus {
  outline: none;
  /*ie-dummy: expression(this.hideFocus=true);*/
}

a img {
  border: 0px; }

#header {
  border-bottom: 6px solid #11145b;
  height: 74px; }
  #header nav {
    width: 982px;
    height: 80px;
    margin: 0 auto;
    position: relative; }
    #header nav #menu {
      margin-left: 203px;
      list-style-type: none;
      position: relative;
      top: 24px; }
      #header nav #menu li {
        float: left;
        height: 50px; }
        #header nav #menu li a {
          color: #11145b;
          display: block;
          float: left;
          padding: 0 10px;
          text-decoration: none;
          font: bold 13px/50px "Noto Sans", sans-serif; }
        #header nav #menu li#magic-line {
          position: absolute;
          height: 6px;
          top: 50px;
          left: 0;
          background: #e31e24; }
    #header nav #lang {
      list-style-type: none;
      position: absolute;
      top: 42px;
      right: -10px; }
      #header nav #lang li {
        float: left;
        margin-left: 3px; }
  #header .logo {
    position: absolute;
    width: 264px;
    height: 80px;
    background: #f3f3f3;
    left: -60px;
    text-align: center; }
    #header .logo img {
      position: absolute;
      top: 21px;
      left: 60px;
      z-index: 2; }

.main_slider .bx-viewport {
  height: 450px !important; }

#content {
  padding: 53px 0;
  width: 982px;
  margin: 0 auto;
  /* MAIN */
  /* ABOUT */
  /* SERVICES */
  /* NEWS */
  /* USEFUL */
  /* USEFUL VIEW */
  /* PARTNERS */
  /* CONTACT */ }
  #content h1 {
    margin-bottom: 35px;
    font: bold 18px/20px "Noto Sans", sans-serif;
    color: #11145b; }
  #content.main .block {
    height: 240px;
    overflow: hidden;
    float: left;
    margin-left: 10px;
    background: url("https://gpc.az/img/bg-main-block.png") left bottom repeat-x;
    text-align: center; }
    #content.main .block > img {
      border: 5px solid #f3f3f3; }
    #content.main .block.block1 {
      width: 300px;
      margin-left: 0; }
    #content.main .block.block2 {
      width: 300px; }
    #content.main .block.block3 {
      width: 362px; }
      #content.main .block.block3 .slider_currency {
        padding-top: 20px;
        color: #f3f3f3;
        font: bold 25px "Noto Sans", sans-serif; }
        #content.main .block.block3 .slider_currency .slide {
          height: 60px; }
        #content.main .block.block3 .slider_currency img {
          float: left; }
          #content.main .block.block3 .slider_currency img.azn {
            float: right;
            margin-top: 10px; }
      #content.main .block.block3 .bx-controls-direction a {
        background: url("https://gpc.az/img/controls2.png") no-repeat;
        width: 29px;
        height: 17px;
        bottom: 15px; }
        #content.main .block.block3 .bx-controls-direction a.bx-prev {
          left: -50px;
          margin: 0px;
          background-position: 0 0 !important; }
        #content.main .block.block3 .bx-controls-direction a.bx-next {
          left: 202px;
          margin: 0px;
          background-position: 100% 0 !important; }
    #content.main .block h2 {
      height: 60px;
      font: bold 18px/60px "Noto Sans", sans-serif;
      color: #F3F3F3; }
      #content.main .block h2 a {
        color: #f3f3f3; }
    #content.main .block .border {
      margin: 0 auto;
      display: block;
      width: 36px;
      height: 4px;
      background: #f3f3f3; }
    #content.main .block p {
      padding: 20px 26px 36px;
      font: normal 14px "Noto Sans", sans-serif;
      color: #f3f3f3; }
  #content.main .block-second {
    border: 3px solid #11145b;
    margin-top: 44px;
    float: left;
    text-align: center;
    height: 185px; }
    #content.main .block-second h3 {
      font: bold 18px "Noto Sans", sans-serif;
      color: #11145b;
      padding: 0 20px;
      background: #f3f3f3;
      position: relative;
      top: -14px;
      text-align: center;
      display: inline-block;
      zoom: 1;
      *display: inline; }
    #content.main .block-second.partners {
      width: 604px; }
      #content.main .block-second.partners .bx-wrapper {
        padding-top: 27px; }
        #content.main .block-second.partners .bx-wrapper .bx-controls-direction a {
          top: 45px;
          margin-left: 0; }
          #content.main .block-second.partners .bx-wrapper .bx-controls-direction a:hover {
            background-position: left bottom; }
        #content.main .block-second.partners .bx-wrapper .bx-prev {
          left: -55px; }
        #content.main .block-second.partners .bx-wrapper .bx-next {
          left: 456px; }
          #content.main .block-second.partners .bx-wrapper .bx-next:hover {
            background-position: right bottom !important; }
    #content.main .block-second.brochure {
      width: 355px;
      float: right; }
      #content.main .block-second.brochure > a {
        float: left;
        margin: 18px 18px 0 18px;
        color: #11145b; }
      #content.main .block-second.brochure p {
        font: normal 14px/16px "Noto Sans", sans-serif;
        color: #11145b;
        text-align: left;
        padding: 18px 20px 0px 0; }
      #content.main .block-second.brochure .download {
        text-align: left;
        font: normal 14px/16px "Noto Sans", sans-serif; }
        #content.main .block-second.brochure .download a {
          font: bold 14px/16px "Noto Sans", sans-serif;
          text-decoration: underline;
          color: #11145b; }
          #content.main .block-second.brochure .download a:hover {
            text-decoration: none; }
  #content.about .about_menu {
    float: left;
    width: 238px;
    border: 3px solid #11145b;
    padding: 10px 0; }
    #content.about .about_menu a {
      display: block;
      font: bold 14px/16px "Noto Sans", sans-serif;
      color: #11145b;
      padding: 10px 20px;
      border-left: 3px solid #11145b;
      position: relative;
      left: -3px; }
      #content.about .about_menu a.active {
        border-left: 3px solid #f3f3f3; }
  #content.about .about_right {
    float: right;
    border-top: 2px solid #746f8f;
    border-bottom: 2px solid #746f8f;
    width: 244px;
    padding: 16px 13px;
    font: italic 14px/21px "Noto Sans", sans-serif;
    color: #11145b; }
    #content.about .about_right strong {
      display: block;
      padding-top: 14px;
      font-style: normal; }
  #content.about .about_text {
    margin: 0 271px 0 244px;
    padding: 0 32px;
    color: #11145b; }
    #content.about .about_text p {
      font: normal 14px/19px "Noto Sans", sans-serif;
      padding-bottom: 20px; }
    #content.about .about_text img {
      margin-bottom: 20px; }
  #content.services .item {
    height: 345px;
    width: 480px;
    overflow: hidden;
    float: left;
    margin-right: 22px;
    margin-bottom: 40px;
    background: url("https://gpc.az/img/bg-services-block.png") left bottom repeat-x;
    text-align: center; }
    #content.services .item > img {
      border: 6px solid #f3f3f3; }
    #content.services .item h2 {
      width: 391px;
      font: bold 20px/22px "Noto Sans", sans-serif;
      padding: 30px 0 24px;
      margin: 0 auto; }
      #content.services .item h2 a {
        color: #f3f3f3; }
    #content.services .item .border {
      margin: 0 auto;
      display: block;
      width: 40px;
      height: 5px;
      background: #f3f3f3; }
    #content.services .item p {
      padding: 20px 26px 36px;
      font: normal 16px/20px "Noto Sans", sans-serif;
      color: #f3f3f3; }
  #content.news {
    width: 1012px; }
    #content.news .container {
      padding-top: 20px; }
    #content.news .item {
      width: 410px !important;
      border: 3px solid #11145b;
      padding: 38px 35px 40px;
      margin-right: 20px;
      margin-bottom: 30px; }
      #content.news .item h4 {
        font: bold 14px/19px "Noto Sans", sans-serif;
        color: #11145b;
        padding-bottom: 14px; }
      #content.news .item .date {
        position: absolute;
        top: -25px;
        left: 35px;
        background: #f3f3f3;
        padding: 13px;
        color: #11145b;
        font: bold 14px "Noto Sans", sans-serif; }
      #content.news .item .info {
        font: normal 14px "Noto Sans", sans-serif; }
        #content.news .item .info p {
          padding-top: 10px; }
  #content.useful .item {
    height: 243px;
    width: 316px;
    overflow: hidden;
    float: left;
    margin-right: 17px;
    margin-bottom: 30px;
    background: url("https://gpc.az/img/bg-main-block.png") left bottom repeat-x;
    text-align: center; }
    #content.useful .item > a {
      border: 6px solid #f3f3f3;
      width: 239px;
      height: 93px;
      margin: 0 auto 25px;
      display: block; }
    #content.useful .item h2 {
      width: 391px;
      font: bold 20px/22px "Noto Sans", sans-serif;
      padding: 30px 0 24px;
      margin: 0 auto; }
      #content.useful .item h2 a {
        color: #f3f3f3; }
    #content.useful .item .border {
      margin: 0 auto;
      display: block;
      width: 40px;
      height: 5px;
      background: #f3f3f3;
      clear: left; }
    #content.useful .item p {
      padding: 20px 26px 36px;
      font: normal 14px/18px "Noto Sans", sans-serif;
      color: #f3f3f3; }
  #content.userful_view {
    position: relative; }
    #content.userful_view .back {
      position: absolute;
      top: 54px;
      right: 0px;
      font: normal 14px/16px "Noto Sans", sans-serif;
      text-decoration: underline;
      padding-left: 25px;
      background: url("https://gpc.az/img/bg-back.png") left center no-repeat;
      color: #11145b; }
      #content.userful_view .back:hover {
        text-decoration: none; }
    #content.userful_view .image {
      width: 326px;
      overflow: hidden;
      float: right; }
    #content.userful_view .text {
      width: 610px;
      font: normal 14px/20px "Noto Sans", sans-serif;
      color: #11145b; }
      #content.userful_view .text h2 {
        font-weight: bold;
        padding-bottom: 29px; }
      #content.userful_view .text p {
        padding-bottom: 18px; }
    #content.userful_view .pagination {
      margin-top: 20px;
      border-top: 2px solid #11145b;
      width: 588px;
      padding: 30px 11px; }
      #content.userful_view .pagination a {
        float: left;
        width: 214px;
        color: #11145b;
        font: normal 12px/16px "Noto Sans", sans-serif; }
        #content.userful_view .pagination a.prev {
          padding-left: 60px;
          background: url("https://gpc.az/img/controls3-left.png") left center no-repeat;
          text-align: left; }
        #content.userful_view .pagination a.next {
          background: url("https://gpc.az/img/controls3-right.png") right center no-repeat;
          padding-right: 60px;
          float: right;
          text-align: right; }
  #content.partners .item {
    border: 3px solid #11145b;
    float: left;
    width: 385px;
    height: 335px;
    margin-right: 20px;
    margin-bottom: 22px;
    text-align: center;
    padding: 45px;
    font: normal 14px/19px "Noto Sans", sans-serif;
    color: #11145b; }
    #content.partners .item img {
      height: 112px; }
    #content.partners .item h3 {
      padding: 30px 0 22px;
      font-weight: bold; }
  #content.contact .form {
    float: right;
    width: 305px;
    font: bold 14px/16px "Noto Sans", sans-serif;
    color: #11145b; }
    #content.contact .form h3 {
      font: bold 14px/16px "Noto Sans", sans-serif;
      padding-bottom: 19px; }
    #content.contact .form input[type="text"], #content.contact .form textarea {
      border: 3px solid #11145b;
      padding: 14px 16px;
      font: normal 14px/16px "Noto Sans", sans-serif;
      width: 267px;
      margin-bottom: 12px; }
    #content.contact .form textarea {
      height: 146px; }
    #content.contact .form input[type="submit"] {
      background: #11145b;
      font: bold 14px/16px "Noto Sans", sans-serif;
      padding: 20px 39px;
      color: #f3f3f3;
      border: none;
      float: right;
      margin-top: 8px;
      cursor: pointer; }
    #content.contact .form p {
      font: normal 14px/22px "Noto Sans", sans-serif; }
    #content.contact .form a.refresh {
      display: block;
      padding: 20px 39px;
      color: #f3f3f3;
      background: #11145b;
      float: left;
      margin-top: 20px; }
  #content.contact .text {
    width: 653px;
    float: left; }
    #content.contact .text .office {
      margin-bottom: 20px; }
      #content.contact .text .office .right {
        float: right; }
      #content.contact .text .office a {
        color: #11145b;
        text-decoration: underline; }
        #content.contact .text .office a:hover {
          text-decoration: none; }
      #content.contact .text .office .left {
        border: 3px solid #11145b;
        color: #11145b;
        float: left;
        width: 280px;
        padding: 34px; }
        #content.contact .text .office .left h4 {
          font: bold 14px/19px "Noto Sans", sans-serif;
          padding-bottom: 15px; }
        #content.contact .text .office .left ul {
          list-style-type: none;
          font: normal 14px/19px "Noto Sans", sans-serif; }
          #content.contact .text .office .left ul li {
            padding-left: 26px;
            margin-top: 10px; }
            #content.contact .text .office .left ul li:first-child {
              margin-top: 0; }
            #content.contact .text .office .left ul li.address {
              background: url("https://gpc.az/img/icon-address.png") 0 5px no-repeat; }
            #content.contact .text .office .left ul li.tel {
              background: url("https://gpc.az/img/icon-tel.png") 0 5px no-repeat; }
            #content.contact .text .office .left ul li.mail {
              background: url("https://gpc.az/img/icon-mail.png") 0 5px no-repeat; }

#footer {
  border-top: 7px solid #fe0002;
  background: #11145b;
  height: 200px; }
  #footer .footer_wrapper {
    width: 982px;
    margin: 0 auto;
    padding-top: 30px;
    font: normal 12px/18px "Noto Sans", sans-serif; }
    #footer .footer_wrapper .copy {
      color: #fff;
      float: left; }
    #footer .footer_wrapper .address {
      float: right;
      width: 150px;
      color: #fff; }
      #footer .footer_wrapper .address a {
        color: #fff; }
    #footer .footer_wrapper .footer_nav {
      margin: 0 190px 0 200px; }
      #footer .footer_wrapper .footer_nav a {
        color: #fff;
        text-decoration: none;
        font-weight: bold;
        font-size: 9px;
        margin-right: 15px;
        display: inline-block;
        zoom: 1;
        *display: inline; }
        #footer .footer_wrapper .footer_nav a:hover {
          text-decoration: underline; }
      #footer .footer_wrapper .footer_nav .social {
        float: right; }
        #footer .footer_wrapper .footer_nav .social a {
          float: left;
          width: 33px;
          height: 33px;
          background: url("https://gpc.az/img/social.png") 0 0 no-repeat;
          font-size: 0;
          margin-right: 0;
          margin-left: 8px; }
          #footer .footer_wrapper .footer_nav .social a.fb {
            background-position: 0 0; }
          #footer .footer_wrapper .footer_nav .social a.tw {
            background-position: -42px 0; }
          #footer .footer_wrapper .footer_nav .social a.yt {
            background-position: -82px 0; }

.social a:hover, .pagination a:hover {
  background-position: bottom; }

.error {
  border: 1px solid red;
  padding: 10px 30px;
  background: red;
  color: #fff;
  margin-bottom: 10px; }
