
.page-wrapper {
    .page-header {
        height: 40px;
        text-align: center;
        padding-bottom: 9px;
        margin: 40px 0 20px;
    }
    .page-body {
        min-height: 500px;

    }
}
