<ul class="nav nav-tabs lang-tabs">
    <li *ngFor="let lang of LANGS" role="presentation"
        [class.active]="lang === currentLang"
        [class.has-error]="lang === DEFAULT_LANG && defaultError"
        (click)="select(lang)">

        <img src="/assets/img/{{lang}}.png" alt="{{lang | uppercase}}">
    </li>
</ul>
