<div class="page-wrapper">
    <div class="page-header">
        <h3>{{ 'T.tenderGroupUnlock.pageHeader' | translate | async }}</h3>
    </div>
    <div class="page-body">

        <ng-container class="row" *ngIf="tender && statistics; else preloader">

            <div class="row">
                <div class="col-md-12 text-center">
                    <p class="instruction">{{ 'T.tenders.forNumber' | translate | async }} № <span>{{tender.id}}</span>
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="col-md-8 offset-md-2">

                    <p>{{ 'T.tenders.name' | translate | async }}: {{tender.name | multilang | async}}</p>
                    <p>{{ 'T.tenders.creator' | translate | async }}: {{tender.creator}}</p>
                    <p>{{ 'T.tenders.operatingCompany' | translate | async }}: {{tender.operatingCompany}}</p>

                    <ng-container *ngIf="tender.period === PERIOD_TYPE.URGENT">
                        <p>
                            {{ 'T.tenders.period' | translate | async }}:
                            {{ 'T.periodType.urgent' | translate | async }}:
                            {{ 'T.tenders.number' | translate | async }}{{tender.urgentNumber}}
                            ({{tender.urgentData}})
                        </p>
                    </ng-container>

                    <ng-container *ngIf="tender.period === PERIOD_TYPE.QUARTER">
                        <p>
                            {{ 'T.tenders.period' | translate | async }}:
                            {{ 'T.periodType.quarter' | translate | async }}:
                            {{tender.quarter}}
                        </p>
                    </ng-container>

                    <p class="no-break">{{ 'T.newTender.startDate' | translate | async }}: {{tender.startDate | date:DATE_FORMAT}}</p>
                    <p class="no-break">{{ 'T.newTender.endDate' | translate | async }}: {{tender.endDate | date:DATE_FORMAT}}</p>

                    <table class="table table-striped" *ngIf="statistics">
                        <tr>
                            <td>{{ 'T.statistics.invites' | translate | async }}</td>
                            <td>{{statistics.invites}}</td>
                        </tr>
                        <tr>
                            <td>{{ 'T.statistics.proposals' | translate | async }}</td>
                            <td>{{statistics.proposals}}</td>
                        </tr>
                        <tr>
                            <td>{{ 'T.statistics.questions' | translate | async }}</td>
                            <td>{{statistics.questions}}</td>
                        </tr>
                    </table>

                </div>
            </div>

            <form [formGroup]="formGroup" novalidate>
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-10 offset-md-2">
                            {{ 'T.newTender.endDate' | translate | async }}*:
                            <app-design-date-time
                                [formGroupInput]="formGroup"
                                [min]="pageOpenDate"
                                [formControlNameInput]="'endDate'">
                            </app-design-date-time>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-8 offset-md-2">
                            <button type="button"
                                    class="btn btn-success"
                                    [disabled]="!formGroup?.controls?.endDate?.value || lockButtons || !printed"
                                    (click)="onUpdate()">
                                {{ 'T.tenderGroupUnlock.updateTender' | translate | async }}
                            </button>
                            <button type="button"
                                    class="btn btn-warning"
                                    [disabled]="lockButtons || !printed"
                                    (click)="onUnlock()">
                                {{ 'T.tenderGroupUnlock.unlock' | translate | async }}
                            </button>
                            <button type="button"
                                    class="btn btn-success"
                                    [disabled]="lockButtons"
                                    (click)="onPrint()">
                                {{ 'T.buttons.print' | translate | async }}
                            </button>
                        </div>
                    </div>
                </div>
            </form>

        </ng-container>
    </div>
</div>

<ng-template #preloader>
    <app-design-preloader></app-design-preloader>
</ng-template>
