:host {
    app-design-date-time {
        display: inline-flex;
        margin-left: 10px;
        margin-right: 10px;
    }
}

p {
    line-height: 140%;
}

table {
    margin-top: 40px;
    margin-bottom: 40px;
}

.btn {
    margin-right: 2px;
    margin-bottom: 2px;
}