/* You can add global styles to this file, and also import other style files */

@import './styles/forms';

p.instruction {
    padding: 20px 0;
    font-weight: bold;
}

.form-control--error {
    border-color: red;
}
