.upload__button {
    input {
        width: 0;
        height: 0;
        opacity: 0;
    }
}

.upload__list-title {
    margin: 20px 0 10px;
}

.upload__item {
    padding-top: 5px;
    padding-bottom: 5px;
}

.upload__progress-wrapper {
    position: relative;
    width: 100%;
    margin-left: 15px;
    margin-right: 15px;
}

.upload__progress {
    position: absolute;
    left: 0;
    top: -5px;
    height: 3px;
    background-color: #17a2b8;
}

.alert {
    margin-top: 20px;
    margin-bottom: 20px;

    ul {
        margin-left: 12px;
    }

    li:not(:first-child) {
        margin-top: 10px;
    }
}
