<div class="upload text-center">
    <label class="upload__button" [hidden]="files?.length >= maxFilesLength">
        <input
            type="file"
            accept=".docx, .xlsx, .pdf, .jpg, .doc, .xls, .png, .msg, .jpeg, .bmp, .gif, .zip, .svg, .rtf, .rar, .tif, .slf, .vsd, .tiff, .html"
            onclick="this.value = null"
            ngFileSelect
            [options]="uploadOptions"
            [uploadInput]="uploadInput"
            (uploadOutput)="onUpload($event)">
        <span class="btn btn-info">{{ 'T.buttons.file' | translate | async }}</span>
    </label>

    <div class="alert alert-danger" role="alert" *ngIf="errors?.length">
        <ul>
            <li *ngFor="let e of errors">
                {{ 'T.files.error' | translate | async }} "{{e.name}}"
                <ng-container *ngIf="e?.rejectReason" [ngSwitch]="e?.rejectReason">
                    <ng-container *ngSwitchCase="'INVALID_FILE_SIZE'">
                        ({{ 'T.files.sizeError' | translate | async }} {{maxFileSizeMB}}MB)
                    </ng-container>
                    <ng-container *ngSwitchCase="'INVALID_EXTENSION'">
                        ({{ 'T.files.extentionError' | translate | async }})
                    </ng-container>
                    <ng-container *ngSwitchDefault>
                        Unknown Error
                    </ng-container>
                </ng-container>
            </li>
        </ul>
    </div>

    <div *ngIf="files?.length" class="upload__list-title">
        <p>{{ 'T.files.loaded' | translate | async }}:</p>
    </div>

    <div *ngIf="!files?.length" class="upload__list-title">
        <p>{{ 'T.emptyList' | translate | async }}</p>
    </div>

    <div class="upload__item row align-items-center" *ngFor="let f of (files || []); let i = index;">

        <div *ngIf="f?.progress?.data?.percentage && f.progress.status !== 2" class="upload__progress-wrapper">
            <div class="upload__progress" [style.width]="f?.progress?.data?.percentage + '%'"></div>
        </div>
        <div class="col-md-8">
            <app-design-file-link [inFile]="f" (updateFile)="onUpdateLink($event)"></app-design-file-link>
        </div>
        <div class="col-md-4 text-right" *ngIf="f.progress">
            <button type="button" class="btn btn-sm"
                    [class.btn-warning]="f.progress.status !== 2"
                    [class.btn-danger]="f.progress.status === 2"
                    (click)="cancelOrRemoveFile(f.id, f.progress.status)">
                <span *ngIf="f.progress.status !== 2">{{ 'T.files.cancel' | translate | async }}</span>
                <span *ngIf="f.progress.status === 2">{{ 'T.files.remove' | translate | async }}</span>
            </button>
        </div>
        <div class="col-md-4 text-right" *ngIf="!f.progress">
            <button type="button" class="btn btn-sm btn-danger"
                    (click)="removeFile(f.id)">
                {{ 'T.files.remove' | translate | async }}
            </button>
        </div>
    </div>
</div>
