<div class="row">
    <div class="col-md-12 text-center">
        <p class="instruction">
            {{ 'T.cabinetPages.seller.offers' | translate | async }}
            <span> - </span>
            {{ 'T.offers.pageHeader' | translate | async }}
            <span> № </span>
            {{tender.id}}
        </p>
    </div>
</div>

<ng-container *ngIf="offers?.length; else emptyList">

    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">{{ 'T.goffers.id' | translate | async }}</th>
            <th scope="col">{{ 'T.goffers.date' | translate | async }}</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let offer of offers">
            <td>{{offer.id}}</td>
            <td class="no-break">{{ offer | offerDate | date:DATE_FORMAT }}</td>
            <td>
                <span *ngIf="offer.state === OFFER_STATE.CHAT_PUBLISH">
                    {{ 'T.cabinetPages.seller.offerChat' | translate | async }}
                </span>
                <span *ngIf="offer.state === OFFER_STATE.PROPOSAL_PUBLISH">
                    {{ 'T.cabinetPages.seller.offerActive' | translate | async }}
                </span>
                <ng-container *ngIf="offer.state === OFFER_STATE.DRAFT">
                    <a *ngIf="(tender.state === TENDER_STATES.ACTIVE || tender.state === TENDER_STATES.CONTINUE); else draft"
                       [routerLink]="['/seller', 'offer', tender.id, offer.id]">
                        {{ 'T.actions.edit' | translate | async }}
                    </a>
                    <ng-template #draft>
                        <span>
                            {{ 'T.cabinetPages.seller.offersDraft' | translate | async }}
                        </span>
                    </ng-template>
                </ng-container>
            </td>
        </tr>
        </tbody>
    </table>

</ng-container>

<ng-template #emptyList>
    <div class="row text-center">
        <div class="col-md-12">
            {{ 'T.emptyList' | translate | async }}
        </div>
    </div>
</ng-template>
