<app-design-back></app-design-back>

<div class="page-wrapper">
    <div class="page-header">
        <h3 *ngIf="!tenderId">{{ 'T.openTenders.createTender' | translate | async }}</h3>
        <h3 *ngIf="tenderId">{{ 'T.openTenders.changeTender' | translate | async }}</h3>
    </div>
    <div class="page-body">

        <div class="row">
            <div class="col-md-12 text-center">
                <p class="instruction">{{ 'T.tenders.forNumber' | translate | async }} № <span>{{tenderId || ''}}</span>
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 text-center">
                <p class="instruction">
                    <span>{{ 'T.actions.instruction' | translate | async }}</span>
                    <span> </span>
                    <span>{{ 'T.buttons.publish' | translate | async }}</span>
                </p>
            </div>
        </div>

        <div [hidden]="serviceLoading">
            <form [formGroup]="formGroup" novalidate>
                <div class="row">
                    <div class="col-md-7">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-3 text-right">{{ 'T.newTender.nameOfTender' | translate | async }}:&nbsp;*</div>
                                <div class="col-md-9">
                                    <app-design-multilang-input
                                        [type]="'input'"
                                        [formGroupInput]="formGroup.controls['name']">
                                    </app-design-multilang-input>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-3 text-right">
                                    {{ 'T.newTender.period' | translate | async }}:&nbsp;*
                                </div>
                                <div class="col-md-9">
                                    <select class="form-control" formControlName="period">
                                        <option
                                            [value]="TENDER_PERIOD.URGENT">{{ 'T.periodType.urgent' | translate | async }}</option>
                                        <option
                                            [value]="TENDER_PERIOD.QUARTER">{{ 'T.periodType.quarter' | translate | async }}</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <ng-container *ngIf="formGroup.controls['period'].value === TENDER_PERIOD.URGENT">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-3 text-right">
                                        {{ 'T.newTender.urgentNumber' | translate | async }}:&nbsp;*
                                    </div>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control" formControlName="urgentNumber">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-3 text-right">
                                        {{ 'T.newTender.urgentDate' | translate | async }}:&nbsp;*
                                    </div>
                                    <div class="col-md-9">
                                        <div class="input-group mb-3">
                                            <app-design-date-time [formGroupInput]="formGroup"
                                                                  [formControlNameInput]="'urgentData'"
                                                                  [pickerType]="'calendar'"></app-design-date-time>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ng-container>

                        <ng-container *ngIf="formGroup.controls['period'].value === TENDER_PERIOD.QUARTER">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-3 text-right">{{ 'T.newTender.quarter' | translate | async }}:&nbsp;*</div>
                                    <div class="col-md-9">
                                        <select class="form-control" formControlName="quarter">
                                            <option value="1">{{ 'T.quarterType.first' | translate | async }}</option>
                                            <option value="2">{{ 'T.quarterType.second' | translate | async }}</option>
                                            <option value="3">{{ 'T.quarterType.third' | translate | async }}</option>
                                            <option value="4">{{ 'T.quarterType.fourth' | translate | async }}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </ng-container>

                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-3 text-right">{{ 'T.tenders.operatingCompany' | translate | async}}:&nbsp;*</div>
                                <div class="col-md-9">
                                    <select class="form-control" formControlName="operatingCompany">
                                        <option *ngFor="let company of OPERATING_COMPANIES;" [value]="company">
                                            {{company}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-3 text-right">{{ 'T.tenders.groupSellers' | translate | async}}:&nbsp;*</div>
                                <div class="col-md-9">
                                    <select class="form-control" formControlName="sellerGroupId">
                                        <ng-container *ngIf="sellerGroups?.length">
                                            <option *ngFor="let sellerGroup of sellerGroups"
                                                    [value]="sellerGroup.id">
                                                {{sellerGroup.name}}
                                            </option>
                                        </ng-container>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-3 text-right">{{ 'T.newTender.startDate' | translate | async }}:&nbsp;*</div>
                                <div class="col-md-9">
                                    <app-design-date-time [min]="pageOpenDate" [formGroupInput]="formGroup"
                                                          [formControlNameInput]="'startDate'"></app-design-date-time>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-3 text-right">
                                    {{ 'T.newTender.endDate' | translate | async }}:&nbsp;*
                                </div>
                                <div class="col-md-9">
                                    <app-design-date-time [min]="minDateForEndDate" [formGroupInput]="formGroup"
                                                          [formControlNameInput]="'endDate'"></app-design-date-time>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-3 text-right">
                                    {{ 'T.tenders.currency' | translate | async }}:&nbsp;*
                                </div>
                                <div class="col-md-9">
                                    <select class="form-control" formControlName="currency">
                                        <option *ngFor="let currency of CURRENCIES;" [value]="currency">
                                            {{currency}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-3 text-right">
                                    {{ 'T.newTender.curator' | translate | async}}:&nbsp;*
                                </div>
                                <div class="col-md-9">
                                    <select2
                                        [data]="curatorsSelect2Data"
                                        [value]="curatorSelect2Value"
                                        [options]="curatorSelect2Options"
                                        (valueChanged)="selectCurator($event)">
                                    </select2>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-5">
                        <div class="row text-center">
                            <div class="col-md-12 padding-bottom">
                                {{ 'T.tenders.additional' | translate | async }}:
                            </div>
                        </div>
                        <div class="row text-center">
                            <div class="col-md-12">
                                <app-design-multilang-input
                                    [type]="'textarea'"
                                    [formGroupInput]="formGroup.controls['description']">
                                </app-design-multilang-input>
                            </div>
                        </div>
                        <div class="row text-center">
                            <div class="col-md-12 padding-top padding-bottom">
                                {{ 'T.files.documents' | translate | async }}
                                ({{'T.files.limit' | translate | async }} {{maxFileSizeMB}}MB, {{'T.files.maxFiles' | translate | async }} {{maxFilesLength}}):
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <app-design-file-uploader
                                    #fileUploader
                                    [loadedFiles]="initFiles"
                                    [maxFileSizeMB]="maxFileSizeMB"
                                    [maxFilesLength]="maxFilesLength"
                                    (updateFiles)="onFilesUpdate($event)"
                                    (updateLoadStatus)="onUpdateLoadStatus($event)">
                                </app-design-file-uploader>
                            </div>
                        </div>

                    </div>
                </div>

            </form>

            <div class="row">
                <div class="col-md-7">
                    <div class="row">
                        <div class="col-md-9 offset-md-3">
                            <button type="button" class="btn btn-success"
                                    [disabled]="!formGroup.valid || filesLoading"
                                    (click)="save()">
                                {{ 'T.buttons.save' | translate | async }}
                            </button>
                            <button type="button" class="btn btn-success"
                                    [disabled]="!tenderId || !formGroup.valid || filesLoading"
                                    (click)="print()">
                                {{ 'T.buttons.saveAndPrint' | translate | async }}
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-md-5 text-right">
                    <button type="button" class="btn btn-warning"
                            [disabled]="!tenderId || !formGroup.valid || filesLoading"
                            (click)="publish()">
                        {{ 'T.buttons.saveAndPublish' | translate | async }}
                    </button>
                </div>
            </div>
        </div>

        <div [hidden]="!serviceLoading">
            <app-design-preloader></app-design-preloader>
        </div>

    </div>
</div>
